Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Rename `localCachePersistentVolumeClaim` to `localCacheEBSPVC`
  tests/e2e-kubernetes/testsuites/cache.go
Due: golangci-lint, go-fmt-imports-fumpt

Add end-to-end tests using EBS volumes as local-cache in Mountpoint Pod (#490)
  tests/e2e-kubernetes/scripts/eksctl-patch.json
  tests/e2e-kubernetes/testsuites/cache.go
Due: golangci-lint, go-fmt-imports-fumpt

S3CSI-66: Added admin and user docs
  docs/README.md
  docs/admin-user-guide.md
  docs/concepts/filesystem-semantics.md
  docs/configuration/index.md
  docs/configuration/volume-configuration.md
  docs/examples/minimal-helm.yaml
  docs/how-to/static-provisioning.md
  docs/quick-start.md
  docs/reference/access-modes.md
  docs/reference/compatibility-matrix.md
  docs/reference/config-precedence.md
  docs/troubleshooting.md
  mkdocs.yml
Due: mkdocs-build

S3CSI-66: re-enable mkdocs stric mode
  .github/workflows/publish-docs.yaml
  .pre-commit-config.yaml
Due: none

Update docs to add more information on using S3 Outposts
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

Add a full example of using S3 outposts
  docs/TROUBLESHOOTING.md
  examples/kubernetes/static_provisioning/outpost_bucket.yaml
Due: mkdocs-build

Add example line to CONFIGURATION.md as well
  docs/CONFIGURATION.md
Due: mkdocs-build

S3CSI-77: change awsAccessSecret to s3CredentialSecret
  charts/scality-mountpoint-s3-csi-driver/templates/node.yaml
  charts/scality-mountpoint-s3-csi-driver/values.yaml
  docs/configuration/driver-configuration.md
  docs/examples/minimal-helm.yaml
  docs/how-to/region-override.md
  docs/installation.md
  docs/quick-start.md
Due: helm-lint, mkdocs-build

S3CSI-77: switch secret name from aws-secret to s3-secret
  charts/scality-mountpoint-s3-csi-driver/values.yaml
  docs/configuration/driver-configuration.md
  docs/installation.md
  tests/e2e/scripts/modules/install.sh
  tests/e2e/scripts/modules/uninstall.sh
Due: helm-lint, mkdocs-build

e2e tests: retry on conflict when updating service account
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Update docs to add more information on using S3 Outposts (#491)
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
  examples/kubernetes/static_provisioning/outpost_bucket.yaml
Due: mkdocs-build

S3CSI-77: Switch Key of Secret from access_key to secret_access_key
  charts/scality-mountpoint-s3-csi-driver/values.yaml
  docs/configuration/driver-configuration.md
  docs/configuration/volume-configuration.md
  docs/examples/minimal-helm.yaml
  docs/installation.md
  docs/quick-start.md
  pkg/driver/node/credentialprovider/provider_secret.go
  pkg/driver/node/credentialprovider/provider_test.go
  pkg/driver/node/log_request_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  tests/e2e/customsuites/util.go
  tests/e2e/scripts/modules/install.sh
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Ignore not found error
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

S3CSI-77: Switch from accessKey to secretAccessKey for SK
  charts/scality-mountpoint-s3-csi-driver/templates/node.yaml
  charts/scality-mountpoint-s3-csi-driver/values.yaml
  docs/configuration/driver-configuration.md
  tests/e2e/customsuites/README.md
  tests/e2e/customsuites/util.go
  tests/e2e/pkg/s3client/s3client.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

S3CSI-77: Rename key_id to access_key_id
  charts/scality-mountpoint-s3-csi-driver/values.yaml
  docs/configuration/driver-configuration.md
  docs/configuration/volume-configuration.md
  docs/examples/minimal-helm.yaml
  docs/installation.md
  docs/quick-start.md
  pkg/driver/node/credentialprovider/provider_secret.go
  pkg/driver/node/credentialprovider/provider_test.go
  pkg/driver/node/log_request_test.go
  pkg/driver/node/node_test.go
  tests/e2e/customsuites/util.go
  tests/e2e/scripts/modules/install.sh
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Return updated SA
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Use Mountpoint Pod UID as cache key with `PodMounter`
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/credentialprovider/provider_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add a test-case two pods in the same node using the same PVC as local-cache
  tests/e2e-kubernetes/testsuites/cache.go
Due: golangci-lint, go-fmt-imports-fumpt

S3CSI-77: Switch from access Key to access Key ID
  charts/scality-mountpoint-s3-csi-driver/templates/node.yaml
  charts/scality-mountpoint-s3-csi-driver/values.yaml
  docs/configuration/driver-configuration.md
  pkg/driver/node/credentialprovider/provider_secret.go
  tests/e2e/customsuites/README.md
  tests/e2e/customsuites/util.go
  tests/e2e/e2e_test.go
  tests/e2e/pkg/s3client/s3client.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Enable `node.{tolerateAllTaints, podInfoOnMount}` by default
  charts/aws-mountpoint-s3-csi-driver/templates/csidriver.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  tests/e2e-kubernetes/scripts/helm.sh
Due: helm-lint

Update GitHub workflows to allow running from `v2` branch
  .github/workflows/controller-tests.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/unit-tests.yaml
Due: none

Improve consistency of PVC in CONFIGURATION.md
  docs/CONFIGURATION.md
Due: mkdocs-build

Replace occurences of K8s with Kubernetes
  docs/CONFIGURATION.md
Due: mkdocs-build

Rename CRD version to `v2beta`
  charts/aws-mountpoint-s3-csi-driver/templates/mountpoints3podattachments-crd.yaml
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/main.go
  pkg/api/v2beta/groupversion_info.go
  pkg/api/v2beta/mountpoints3podattachment_indexer.go
  pkg/api/v2beta/mountpoints3podattachment_types.go
  pkg/api/v2beta/zz_generated.deepcopy.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/fake_cache.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
  tests/crd/mountpoints3podattachments-crd.yaml
  tests/e2e-kubernetes/testsuites/pod_sharing.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Create work-in-progress `UPGRADING.md`
  Makefile
  docs/UPGRADING.md
  tests/e2e-kubernetes/testdriver.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Rename CRD version to `v2beta` (#497)
  charts/aws-mountpoint-s3-csi-driver/templates/mountpoints3podattachments-crd.yaml
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/main.go
  pkg/api/v2beta/groupversion_info.go
  pkg/api/v2beta/mountpoints3podattachment_indexer.go
  pkg/api/v2beta/mountpoints3podattachment_types.go
  pkg/api/v2beta/zz_generated.deepcopy.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/fake_cache.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
  tests/crd/mountpoints3podattachments-crd.yaml
  tests/e2e-kubernetes/testsuites/pod_sharing.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

S3CSI-78: Change theme switcher icons
  docs/assets/.icons/custom/moon.svg
  docs/assets/.icons/custom/sun.svg
  mkdocs.yml
Due: mkdocs-build

S3CSU-78: Use teal accent for hovered links, buttons and scrollbars
  mkdocs.yml
Due: mkdocs-build

S3CSI-78: Change github Icon and introduce automatic theme mode per system preferences
  mkdocs.yml
Due: mkdocs-build

S3CSI-78: Update header shadows for dark and light theme to differenciate from body
  docs/assets/css/custom.css
Due: mkdocs-build

S3CSI-78: Collapse left side bar and follow right sidebar
  mkdocs.yml
Due: mkdocs-build

S3CSI-78: Add custom CSS for dark/slate theme
  docs/assets/css/custom.css
Due: mkdocs-build

S3CSI-78: Make search highlights than links
  docs/assets/css/custom.css
Due: mkdocs-build

S3CSI-78: Add custom CSS for light/default theme
  docs/assets/css/custom.css
Due: mkdocs-build

S3CSI-78: Add site wide styling irrespective of theme
  docs/assets/css/custom.css
Due: mkdocs-build

S3CSI-78: Add Scality Logo to site and favicon
  docs/assets/images/Scality_logo.png
  mkdocs.yml
Due: mkdocs-build

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
