Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

v2.2.0 release (#616)
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Remove unused Python setup steps from GitHub CI
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Remove unused Python setup steps from GitHub CI (#619)
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Remove overrides for EKS PLI token audience, keep for AWS service principal
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  pkg/driver/node/credentialprovider/provider_pod.go
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Remove overrides for EKS PLI token audience, keep for AWS service principal (#622)
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  pkg/driver/node/credentialprovider/provider_pod.go
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Update eksctl_delete_cluster_cf_stack to disable termination protection
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Add bucket name to test bucket creation failure log
  tests/e2e-kubernetes/s3client/client.go
Due: golangci-lint, go-fmt-imports-fumpt

Add documentation for Mountpoint metrics, including a static provisioning example
  docs/METRICS.md
  examples/kubernetes/static_provisioning/mountpoint-metrics.yaml
Due: mkdocs-build

Add bucket name to test bucket creation failure log (#628)
  tests/e2e-kubernetes/s3client/client.go
Due: golangci-lint, go-fmt-imports-fumpt

Update eksctl_delete_cluster_cf_stack to disable termination protection (#623)
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Add explicit permissions to all GHA workflows
  .github/workflows/build_matrix.yaml
  .github/workflows/controller-tests.yaml
  .github/workflows/notify-slack.yaml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yaml
Due: none

Add explicit permissions to all GHA workflows (#630)
  .github/workflows/build_matrix.yaml
  .github/workflows/controller-tests.yaml
  .github/workflows/notify-slack.yaml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yaml
Due: none

Change Dependabot schedule to weekly
  .github/dependabot.yml
Due: none

Update node daemonset to use host PID namespace
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
Due: helm-lint

Change Dependabot schedule for GHA to weekly (#633)
  .github/dependabot.yml
Due: none

Add annotation to MP pod that its unsafe to evict
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Update node daemonset to use host PID namespace
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  deploy/kubernetes/base/node.yaml
Due: helm-lint

Update node daemonset to use host PID namespace (#632)
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  deploy/kubernetes/base/node.yaml
Due: helm-lint

v2.2.1 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

v2.2.1 release (#637)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Merge main into release-2.2 for v2.2.1 (#638)
  .github/dependabot.yml
  .github/workflows/build_matrix.yaml
  .github/workflows/controller-tests.yaml
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/notify-slack.yaml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yaml
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/base/node.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
  pkg/driver/node/credentialprovider/provider_pod.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
  tests/e2e-kubernetes/s3client/client.go
  tests/e2e-kubernetes/scripts/eksctl.sh
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Update based on PR feedback
  docs/METRICS.md
Due: mkdocs-build

Add wait flag to eksctl delete usage
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Update minimum K8s version for Helm chart to 1.29.0
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
Due: helm-lint

Add post_test CI target for controller tests, set unit test workflow name
  .github/workflows/controller-tests.yaml
  .github/workflows/unit-tests.yaml
Due: none

Add wait flag to end-to-end test eksctl delete usage, and disable safety checks (#639)
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Move Helm release to manually dispatched workflow
  .github/workflows/helm-publish.yaml
  .github/workflows/release.yaml
Due: none

Update troubleshooting doc with additional information on non-unique volumeHandle values
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

Move Helm release to manually dispatched workflow (#642)
  .github/workflows/helm-publish.yaml
  .github/workflows/release.yaml
Due: none

Add post_test CI target for controller tests, set unit test workflow name (#641)
  .github/workflows/controller-tests.yaml
  .github/workflows/unit-tests.yaml
Due: none

Update troubleshooting doc with additional information on non-unique `volumeHandle` values (#643)
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

Add documentation for Mountpoint metrics (#629)
  docs/METRICS.md
  examples/kubernetes/static_provisioning/mountpoint-metrics.yaml
Due: mkdocs-build

Remove K8s 1.28 from CI matrix
  .github/matrix.yaml
Due: none

Remove K8s 1.28 from CI matrix (#645)
  .github/matrix.yaml
Due: none

Update minimum K8s version for Helm chart to 1.29.0 (#640)
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
Due: helm-lint

chore(docs): fix minor typos in documentation
  docs/ARCHITECTURE.md
  examples/kubernetes/static_provisioning/README.md
Due: mkdocs-build
