Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.1.6  # Latest stable version as of May 2025
    hooks:
      - id: golangci-lint-fmt
        args:
          - --enable=gofmt
          - --enable=goimports
          - --enable=gofumpt
      - id: golangci-lint
        args:
          - --enable=govet

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: mkdocs build --strict
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

S3CSI-75: Reduce CI complexity for quick steps
  .github/workflows/code-validation.yaml
Due: none

Improve logging in `PodUnmounter`
  pkg/driver/node/mounter/pod_unmounter.go
Due: none

S3CSI-30: Add golangci-lint to the ci
  .github/workflows/code-validation.yaml
Due: none

S3CSI-30: Add golang checks to CI
  .github/workflows/code-validation.yaml
  .golangci.yaml
  .pre-commit-config.yaml
Due: none

S3CSI-30: Ignore external tests paths in golang ci checks
  .golangci.yaml
Due: none

S3CSI-30: fixed all error checks and static checks
  cmd/install-mp/main.go
  cmd/scality-csi-controller/csicontroller/reconciler.go
  cmd/scality-csi-controller/main.go
  cmd/scality-csi-driver/main.go
  cmd/scality-csi-mounter/csimounter/csimounter.go
  cmd/scality-csi-mounter/main.go
  pkg/cluster/cluster.go
  pkg/driver/driver.go
  pkg/driver/driver_test.go
  pkg/driver/node/credentialprovider/README.md
  pkg/driver/node/credentialprovider/awsprofile/awsprofiletest/aws_profile.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/credentialprovider/provider_test.go
  pkg/driver/node/mounter/mounter.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_linux.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/systemd_mounter.go
  pkg/driver/node/mounter/systemd_mounter_test.go
  pkg/driver/node/node.go
  pkg/podmounter/mountoptions/mount_options.go
  pkg/podmounter/mountoptions/mount_options_test.go
  pkg/podmounter/mppod/watcher/watcher.go
  pkg/system/pts_linux.go
  pkg/system/pts_test.go
  pkg/system/systemd.go
  pkg/system/systemd_test.go
  pkg/util/file.go
  pkg/util/file_test.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
  tests/e2e/customsuites/credentials.go
  tests/e2e/customsuites/mountoptions.go
  tests/e2e/pkg/s3client/s3client.go
  tests/e2e/scripts/modules/install.sh
  tests/e2e/scripts/modules/test.sh
  tests/e2e/scripts/modules/uninstall.sh
  tests/e2e/testdriver.go
Due: none

S3CSI-30: improve precommit and CI consistency
  .pre-commit-config.yaml
  pkg/driver/node/mounter/pod_mounter_linux.go
Due: none

S3CSI-30: Use fumt from precommit
  .github/workflows/code-validation.yaml
Due: none

S3CSI-59: Update Readme, landing Readme and quick start
  README.md
  docs/README.md
  docs/quick-start.md
Due: mkdocs-build

S3CSI-59: Remove obselete files from context
  .gitignore
  docs/CONFIGURATION.md
  docs/LOGGING.md
  docs/install.md
  docs/scality/CHEATSHEET.md
  docs/scality/README.md
  examples/kubernetes/static_provisioning/README.md
  examples/kubernetes/static_provisioning/aws_max_attempts.yaml
  examples/kubernetes/static_provisioning/caching.yaml
  examples/kubernetes/static_provisioning/kms_sse.yaml
  examples/kubernetes/static_provisioning/multiple_buckets_one_pod.yaml
  examples/kubernetes/static_provisioning/multiple_pods_one_pv.yaml
  examples/kubernetes/static_provisioning/non_root.yaml
  examples/kubernetes/static_provisioning/secret_authentication.yaml
  examples/kubernetes/static_provisioning/static_provisioning.yaml
  examples/kubernetes/static_provisioning/static_provisioning_with_shared_cache.yaml
  pkg/driver/node/credentialprovider/README.md
Due: mkdocs-build

Support SystemD mounts
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  pkg/driver/node/credentialprovider/mocks/mock_provider.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/credentialprovider/provider_test.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/systemd_mounter.go
  pkg/util/env.go
  pkg/util/testutil/assert/assert.go
  tests/controller/controller_test.go
Due: helm-lint

Improve logging in `PodUnmounter` (#480)
  pkg/driver/node/mounter/pod_unmounter.go
Due: none

PodMounter: Support SystemD mounts (#481)
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  pkg/driver/node/credentialprovider/mocks/mock_provider.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/credentialprovider/provider_test.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/systemd_mounter.go
  pkg/util/env.go
  pkg/util/testutil/assert/assert.go
  tests/controller/controller_test.go
Due: helm-lint

Node: Remove mountOptions from list filters on CRD
  pkg/driver/node/mounter/fake_mounter.go
  pkg/driver/node/mounter/mocks/mock_mount.go
  pkg/driver/node/mounter/mounter.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/systemd_mounter.go
  pkg/driver/node/mounter/systemd_mounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
Due: none

Ensure to close FUSE fd after Mountpoint is terminated
  cmd/aws-s3-csi-mounter/csimounter/csimounter_test.go
  pkg/mountpoint/runner/foreground.go
Due: none

Node: Remove mountOptions from list filters on CRD (#482)
  pkg/driver/node/mounter/fake_mounter.go
  pkg/driver/node/mounter/mocks/mock_mount.go
  pkg/driver/node/mounter/mounter.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/systemd_mounter.go
  pkg/driver/node/mounter/systemd_mounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
Due: none

Ensure to close FUSE file descriptor after Mountpoint is terminated (#484)
  cmd/aws-s3-csi-mounter/csimounter/csimounter_test.go
  pkg/mountpoint/runner/foreground.go
Due: none

Cleanup driver-level token files for PodMounter
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/credentialprovider/provider_test.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_unmounter.go
  pkg/driver/node/mounter/systemd_mounter.go
Due: none

Set CleanupContext as systemd during systemd Unmount
  pkg/driver/node/mounter/systemd_mounter.go
Due: none

Cleanup driver-level token files for PodMounter (#486)
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/credentialprovider/provider_test.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_unmounter.go
  pkg/driver/node/mounter/systemd_mounter.go
Due: none

Add EKS Pod Identity to CONFIGURATION.md
  docs/CONFIGURATION.md
Due: mkdocs-build

Support using `emptyDir` and `persistentVolumeClaim` as local caches in Mountpoint Pod
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/main.go
  pkg/driver/node/volumecontext/volume_context.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
  tests/e2e-kubernetes/testdriver.go
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: none

Support using `emptyDir` and `persistentVolumeClaim` as local caches in Mountpoint Pod (#487)
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/main.go
  pkg/driver/node/volumecontext/volume_context.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
  tests/e2e-kubernetes/testdriver.go
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: none

Remove run-as-user flag as it's not merged yet
  pkg/driver/node/node_test.go
  pkg/mountpoint/args.go
Due: none

Remove support for -o argument (#477)
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/mountpoint/args.go
Due: none

S3CSI-14: Remove kustomize support
  deploy/kubernetes/base/csidriver.yaml
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/node-daemonset.yaml
  deploy/kubernetes/base/node-serviceaccount.yaml
  deploy/kubernetes/base/s3-csi-driver-config.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: none

Improve error messages in `PodMounter`
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  pkg/driver/node/mounter/pod_mounter.go
Due: none

Create FEATURES.md with pod sharing documentation
  README.md
  docs/FEATURES.md
  examples/kubernetes/static_provisioning/README.md
Due: mkdocs-build

Improve error messages in `PodMounter` (#489)
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  pkg/driver/node/mounter/pod_mounter.go
Due: none

S3CSI-64: disable strict mode for writing documentation
  .github/workflows/publish-docs.yaml
  docs/installation.md
Due: mkdocs-build

S3CSI-64: Add core documentation and navigation
  .markdownlint.yaml
  .pre-commit-config.yaml
  README.md
  docs/README.md
  docs/assets/css/custom.css
  docs/concepts/filesystem-semantics.md
  docs/configuration/driver-configuration.md
  docs/configuration/index.md
  docs/configuration/mount-options.md
  docs/configuration/volume-configuration.md
  docs/how-to/permissions.md
  docs/how-to/static-provisioning.md
  docs/installation.md
  docs/quick-start.md
  docs/reference/access-modes.md
  docs/reference/config-precedence.md
  docs/troubleshooting.md
  examples/minimal-helm.yaml
  mkdocs.yml
Due: mkdocs-build

S3CSI-53: Added how to guides
  docs/how-to/multi-volume.md
  docs/how-to/permissions.md
  docs/how-to/region-override.md
  docs/how-to/static-provisioning.md
Due: mkdocs-build

S3CSI-53: Updated Mkdocs navigation
  mkdocs.yml
Due: mkdocs-build

S3CSI-40: Run s3 with file backend and upload logs
  .github/scality-storage-deployment/cloudserver-config.json
  .github/scality-storage-deployment/docker-compose.yml
  .github/workflows/e2e-tests.yaml
  .lychee.toml
Due: none

S3CSI-40: Add matrix for E2E tests for RING S3 9.4 & 9.5
  .github/workflows/e2e-tests.yaml
Due: none

Add end-to-end tests using EBS volumes as local-cache in Mountpoint Pod
  tests/e2e-kubernetes/scripts/eksctl-patch.json
  tests/e2e-kubernetes/testsuites/cache.go
Due: none

Switch deprecated reviewers to CODEOWNERS for dependabot
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

Enable encryption on EBS StorageClass uses in end-to-end tests
  tests/e2e-kubernetes/testsuites/cache.go
Due: none
