Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

[TEST] Add create rosa cluster workflow
  .github/workflows/create-rosa-cluster.yaml
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Create ROSA Untrusted initial workflow
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-test-rosa-untrusted.yaml
Due: none

Added rosa trusted workflow
  .github/workflows/create-rosa-cluster.yaml
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-test-rosa-trusted.yaml
Due: none

Fix rosa token env name
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Remove comma
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Fix vpc module version
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Add terraform apply
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Remove not supported vpc arguments
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Add variables.tf
  tests/e2e-kubernetes/rosa/main.tf
  tests/e2e-kubernetes/rosa/variables.tf
Due: none

Fix env for rosa token
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Add availability_zones_count = 3
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Slack notifications on PR's and Issues
  .github/workflows/notify-slack.yaml
Due: none

Slack notifications on PR's and Issues (#510)
  .github/workflows/notify-slack.yaml
Due: none

WIP: recreate dbus connection
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  pkg/system/systemd.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Pass AWS_ENDPOINT_URL_STS through to mount-s3.
  pkg/driver/node/envprovider/provider.go
Due: golangci-lint, go-fmt-imports-fumpt

Ensure signals are not lost during disruption
  pkg/system/systemd.go
Due: golangci-lint, go-fmt-imports-fumpt

Use Directory type for systemd mount
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
Due: helm-lint

Update outpost_bucket.yaml
  examples/kubernetes/static_provisioning/outpost_bucket.yaml
Due: none

Implement SystemdRunner which insures resillience against dbus connection loss
  pkg/driver/node/mounter/systemd_mounter.go
  pkg/system/mocks/mock_systemd.go
  pkg/system/systemd.go
  pkg/system/systemd_runner.go
  pkg/system/systemd_runner_test.go
  pkg/system/systemd_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Update outpost_bucket.yaml (#517)
  examples/kubernetes/static_provisioning/outpost_bucket.yaml
Due: none

Add AL2023 to OS family
  .github/matrix.yaml
Due: none

Update wording on outpost_bucket.yaml ARN/Alias comment
  examples/kubernetes/static_provisioning/outpost_bucket.yaml
Due: none

Review fixes
  pkg/system/systemd.go
  pkg/system/systemd_runner.go
  pkg/system/systemd_runner_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Report connection re-creation in logs
  pkg/system/systemd_runner.go
Due: golangci-lint, go-fmt-imports-fumpt

Update wording on outpost_bucket.yaml to mention Outpost aliases (#518)
  examples/kubernetes/static_provisioning/outpost_bucket.yaml
Due: none

Update Kustomization deployments
  deploy/kubernetes/base/node-daemonset.yaml
  pkg/system/systemd.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Mountpoint to v1.19.0
  CHANGELOG.md
  Dockerfile
Due: none

Add AL2023 to OS family (#519)
  .github/matrix.yaml
Due: none

Add socket-based CSI driver readiness check for taint removal
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  deploy/kubernetes/base/node-serviceaccount.yaml
  docs/TROUBLESHOOTING.md
  pkg/driver/driver.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/driver/node/taint.go
  tests/sanity/sanity_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Improve checking of driver registration
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  deploy/kubernetes/base/node-serviceaccount.yaml
  pkg/driver/driver.go
  pkg/driver/node/taint.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Recreate dbus connection (#512)
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  deploy/kubernetes/base/node-daemonset.yaml
  pkg/driver/node/mounter/systemd_mounter.go
  pkg/system/mocks/mock_systemd.go
  pkg/system/systemd.go
  pkg/system/systemd_runner.go
  pkg/system/systemd_runner_test.go
  pkg/system/systemd_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Bump Mountpoint to v1.19.0 (#520)
  CHANGELOG.md
  Dockerfile
Due: none

v1.15.0 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

v1.15.0 release (#522)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Add license section to `README.md`
  README.md
Due: none

Update messaging
  README.md
Due: none

Add new print columns to CRD
  charts/aws-mountpoint-s3-csi-driver/templates/mountpoints3podattachments-crd.yaml
  pkg/api/v2beta/mountpoints3podattachment_types.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Update index.yaml
  index.yaml
Due: none

Add Kubernetes 1.33 to CI
  .github/matrix.yaml
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Exclude AL2 with Kubernetes 1.33 as its not supported
  .github/matrix.yaml
Due: none

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
