Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Address feedback from review
  CHANGELOG.md
  deploy/kubernetes/base/serviceaccount-csi-node.yaml
  pkg/driver/driver.go
  pkg/driver/node/taint.go
Due: golangci-lint, go-fmt-imports-fumpt

Add s3.csi.aws.com/agent-not-ready to defaultTolerations
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
Due: helm-lint

Add socket-based CSI driver readiness check for taint removal
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  docs/TROUBLESHOOTING.md
  pkg/driver/driver.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/driver/node/taint.go
  tests/sanity/sanity_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Create e2e tests for taint removal
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt

Improve checking of driver registration
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  pkg/driver/driver.go
  pkg/driver/node/taint.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Implement short-lived informer for taint removal to address race conditions
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  deploy/kubernetes/base/serviceaccount-csi-node.yaml
  pkg/driver/node/taint.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Simplify e2e tests for taint removal
  pkg/driver/node/taint.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Remove duplication in defaultTolerations
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
Due: helm-lint

Remove unused helper functions from e2e tests for taint removal
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt

Clean stale Headroom Pods in `StaleAttachmentCleaner` (#560)
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Make taint removal e2e tests serial
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt

Implement removal of node taint: s3.csi.aws.com/agent-not-ready (#521)
  CHANGELOG.md
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  deploy/kubernetes/base/serviceaccount-csi-node.yaml
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
  pkg/driver/driver.go
  pkg/driver/node/taint.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Initial development docs for the CSI Driver
  Makefile
  dev/README.md
  dev/mp-dev-cluster.yaml
  dev/mp-dev.sh
Due: none

Add building Mountpoint from source and running end-to-end tests sections
  dev/README.md
  dev/mp-dev-cluster.yaml
  dev/mp-dev.sh
Due: none

Add setup and teardown commands to mp-dev
  dev/README.md
  dev/mp-dev-cluster.yaml
  dev/mp-dev.sh
Due: none

Fix diagrams in dark mode
  dev/README.md
  dev/assets/components-of-kubernetes.png
Due: none

Make the env variables passed to the initContainer configurable
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Increase timeout on eksctl commands to 1 hour
  dev/README.md
  dev/mp-dev.sh
Due: none

Add sequence diagrams to ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: mkdocs-build

Address PR feedback
  dev/README.md
  dev/mp-dev.sh
Due: none

Add required IAM policies for nodes
  dev/README.md
  dev/mp-dev-cluster.yaml
  dev/mp-dev.sh
Due: none

Replace local variables with env variables where appropoite
  dev/mp-dev.sh
Due: none

Bump `golang.org/x/oauth2` to `0.27.0`
  go.mod
  go.sum
Due: none

Use managed node groups instead and add example output of running end-to-end tests
  dev/README.md
  dev/mp-dev-cluster.yaml
Due: none

Apply suggestions from code review
  dev/README.md
  dev/mp-dev.sh
Due: none

Update e2e tests
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

Update dev documentation
  dev/README.md
  dev/mp-dev.sh
Due: none

Initial development docs for the CSI Driver (#567)
  Makefile
  dev/README.md
  dev/assets/components-of-kubernetes.png
  dev/mp-dev-cluster.yaml
  dev/mp-dev.sh
  docs/ARCHITECTURE.md
Due: mkdocs-build

Bump `golang.org/x/oauth2` to `0.27.0` (#570)
  go.mod
  go.sum
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

feat: support deploying the node DaemonSet with hostNetwork enabled
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Remove notes about v2 EKS add-on not being released
  docs/INSTALL.md
  docs/UPGRADING_TO_V2.md
Due: mkdocs-build

Remove notes about v2 EKS add-on not being released (#578)
  docs/INSTALL.md
  docs/UPGRADING_TO_V2.md
Due: mkdocs-build

mount-s3-namespace to be conditional
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-namespace.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Fix broken pod sharing link
  examples/kubernetes/static_provisioning/README.md
Due: none

Fix broken pod sharing link (#582)
  examples/kubernetes/static_provisioning/README.md
Due: none

Move MP Pod VolumeID and name to Annotations instead of Labels
  pkg/driver/node/mounter/pod_unmounter.go
  pkg/driver/node/mounter/pod_unmounter_test.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Assigns pods to nodes directly instead of using affinity
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt

Add comment to help debug test failures
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Add comment to help debug test failures (#588)
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
