Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

S3CSI-78: Add copyright and license to footer
  mkdocs.yml
Due: mkdocs-build

S3CSI-78: Update permalink icon and remove links from code lineno
  mkdocs.yml
Due: mkdocs-build

Request cache ephemeral volume with `ReadWriteOnce` access mode
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Support `ephemeral` volume type as local-cache instead of `persistentVolumeClaim` in Mountpoint Pod
  pkg/driver/node/volumecontext/volume_context.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  tests/controller/controller_test.go
  tests/e2e-kubernetes/testsuites/cache.go
Due: golangci-lint, go-fmt-imports-fumpt

Pass `UNSTABLE_MOUNTPOINT_CACHE_KEY` only for `SystemdMounter`
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/credentialprovider/provider_test.go
Due: golangci-lint, go-fmt-imports-fumpt

S3CSI-79: Update codecov config to ignore docs folder updates
  codecov.yml
Due: none

S3CSI-79: Do not run e2e tests for doc updates
  .github/workflows/e2e-tests.yaml
Due: none

S3CSI-79: Split code checks and tests to allow fast documentation updates
  .github/workflows/code-quality-checks.yaml
  .github/workflows/code-quality-tests.yaml
Due: none

Fix EKS Pod Identity supporting resources doc
  docs/CONFIGURATION.md
  docs/FEATURES.md
  examples/kubernetes/static_provisioning/README.md
Due: mkdocs-build

Update docs for Outposts
  docs/CONFIGURATION.md
Due: mkdocs-build

Improve Configuring the STS region section
  docs/CONFIGURATION.md
Due: mkdocs-build

Remove podInfoOnMountCompat warning
  docs/CONFIGURATION.md
Due: mkdocs-build

Update label on PVC template to have `s3.csi.aws.com/` prefix
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Mountpoint to v1.18.0
  CHANGELOG.md
  Dockerfile
Due: none

Support `ephemeral` volume type as local-cache instead of `persistentVolumeClaim` in Mountpoint Pod (#496)
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/credentialprovider/provider_test.go
  pkg/driver/node/volumecontext/volume_context.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  tests/controller/controller_test.go
  tests/e2e-kubernetes/testsuites/cache.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Mountpoint to v1.18.0 (#501)
  CHANGELOG.md
  Dockerfile
Due: none

Enable `node.{tolerateAllTaints, podInfoOnMount}` by default
  charts/aws-mountpoint-s3-csi-driver/templates/csidriver.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  tests/e2e-kubernetes/scripts/helm.sh
Due: helm-lint

Update GitHub workflows to allow running from `v2` branch
  .github/workflows/controller-tests.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/unit-tests.yaml
Due: none

v2.0.0-beta release
  Makefile
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Add `CACHING.md` to explain possible caching configurations the CSI Driver provides
  docs/CACHING.md
Due: mkdocs-build

Add documentation about Pod Sharing and EKS Pod Identity (#495)
  README.md
  docs/CONFIGURATION.md
  docs/FEATURES.md
  examples/kubernetes/static_provisioning/README.md
Due: mkdocs-build

Add link to "EKS Persistent Volumes for Instance Store" blog post from `CACHING.md`
  docs/CACHING.md
Due: mkdocs-build

Create work-in-progress `UPGRADING.md` (#498)
  Makefile
  docs/UPGRADING.md
  tests/e2e-kubernetes/testdriver.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Update link to `CACHING.md` in logs
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt

Update docs for Outposts (#500)
  docs/CONFIGURATION.md
Due: mkdocs-build

v2.0.0-beta release (#503)
  Makefile
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Address PR comments
  docs/CACHING.md
Due: mkdocs-build

Update index.yaml
  index.yaml
Due: none

Add `CACHING.md` to explain possible caching configurations the CSI Driver provides (#502)
  docs/CACHING.md
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Documentation updates for v2
  README.md
  docs/ARCHITECTURE.md
  docs/MOUNTPOINT_POD_SHARING.md
  docs/UPGRADING.md
  examples/kubernetes/static_provisioning/README.md
Due: mkdocs-build

Add v2 announcement banner to README
  README.md
Due: none

Add v2 announcement banner to README (#506)
  README.md
Due: none

Documentation updates for v2 (#505)
  README.md
  docs/ARCHITECTURE.md
  docs/MOUNTPOINT_POD_SHARING.md
  docs/UPGRADING.md
  examples/kubernetes/static_provisioning/README.md
Due: mkdocs-build

Bug fix: pass latestSA to Update API call
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Doc updates about caching and MP Pod resource limits
  docs/CONFIGURATION.md
  examples/kubernetes/static_provisioning/README.md
  examples/kubernetes/static_provisioning/caching.yaml
Due: mkdocs-build

Doc updates about caching and MP Pod resource limits (#507)
  docs/CONFIGURATION.md
  examples/kubernetes/static_provisioning/README.md
  examples/kubernetes/static_provisioning/caching.yaml
Due: mkdocs-build

Remove mention of "today" in v2 README note
  README.md
Due: none

e2e tests: retry on conflict when updating service account (#492)
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Remove mention of "today" in v2 README note (#508)
  README.md
Due: none

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
