Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

Cherry-pick v2.8.0 release commit to main
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Add periodic resource cleanup for daemonset mounter (#911)
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/mount_map_test.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/resource_cleanup_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Go to 1.27.0 (#923)
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

kustomize: sync sidecar image versions with Helm chart (#924)
  deploy/kubernetes/base/node.yaml
Due: none

Fix TestCleanupOrphans path mismatch on macOS
  pkg/driver/node/mounter/mount_map_persistence_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix TestCleanupOrphans path mismatch on macOS (#926)
  pkg/driver/node/mounter/mount_map_persistence_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Update to comments
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

isTargetHealthy refactoring
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix to test
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

rename fn
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

rename fn
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Rename IsTargetHealthy to CheckTargetState in tests
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Do not fail tests if the S3 bucket already exists.
  tests/e2e-kubernetes/s3client/client.go
Due: golangci-lint, go-fmt-imports-fumpt

Remove duplicate isMountpoint checks in the Mount path (#927)
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Do not fail tests if the S3 bucket already exists (#928)
  tests/e2e-kubernetes/s3client/client.go
Due: golangci-lint, go-fmt-imports-fumpt

Document kubectl drain failure on controller-less Mountpoint pods
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

Add user agent to daemonset mounter approach
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Wrap daemonset credential-provisioning errors at the call site with mounter-logs help message
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Document kubectl drain failure on Mountpoint pods (#930)
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

Add user agent to daemonset mounter approach (#929)
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

chore: deprecate main branch helm chart installation method
  README.md
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  dev/README.md
  dev/mp-dev.sh
  docs/INSTALL.md
  scripts/verify-helm-images.sh
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

feat(user-agent): add helm-dev installation type
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/user_agent_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

docs: address GitHub comments
  dev/README.md
  docs/INSTALL.md
Due: mkdocs-build

Deprecate GitHub branch Helm chart installation method (#931)
  README.md
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  dev/README.md
  dev/mp-dev.sh
  docs/INSTALL.md
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/user_agent_test.go
  scripts/verify-helm-images.sh
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Update index.yaml
  index.yaml
Due: none

Cherry-pick v2.8.0 release commit to main (#925)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Add k8s 1.36.1 to v1 backport
  .github/matrix.yaml
Due: none

Add k8s 1.36.1
  .github/matrix.yaml
Due: none

In tests, delete mount-s3 namespace if it exists during driver uninstall
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

In tests, delete mount-s3 namespace if it exists during driver uninstall (#938)
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

ci: add warning to use merge commit, for merge to feature branch workflow
  .github/workflows/merge-main-to-feature-daemonset.yaml
Due: none

Add k8s 1.36.1 to v1 backport (#937)
  .github/matrix.yaml
Due: none

ci: add warning to use merge commit for merge to feature branch workflow (#892)
  .github/workflows/merge-main-to-feature-daemonset.yaml
Due: none

V2 to V3 upgrade support
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/csicontroller/drain_stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/drain_stale_attachment_cleaner_test.go
  cmd/aws-s3-csi-controller/main.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/daemonset_mounter_v2legacy_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/util/env.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/drain_only_daemonset.go
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Fix to tests
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Added some logs to diagnose ROSA failure
  tests/e2e-kubernetes/testsuites/drain_only_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Propagate seLinuxOptions to the mounter daemonset pod
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
Due: helm-lint

Fix ROSA test
  tests/e2e-kubernetes/testsuites/drain_only_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt
