Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Use hard-coded kubelet path
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  deploy/kubernetes/base/node.yaml
  pkg/driver/node/node.go
  pkg/util/kubelet.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Path test update
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Path and Variable name updates
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  deploy/kubernetes/base/node.yaml
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/pod_unmounter_test.go
  pkg/driver/node/node.go
  pkg/util/kubelet.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Kublet path Updates
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_unmounter.go
  pkg/driver/node/node.go
  pkg/util/kubelet.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Graceful Pod Eviction
  README.md
  cmd/aws-s3-csi-mounter/main.go
  pkg/podmounter/mppod/creator.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
Due: golangci-lint, go-fmt-imports-fumpt

Add verification of images in Helm publish workflow
  .github/workflows/helm-publish.yaml
  scripts/verify-helm-images.sh
Due: none

Add upgrade to new commit test
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Updated logic to find latest release
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Updated logic to find latest release from helm
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

nit addressed
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

fix tests
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Add upgrade to new commit test (#680)
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix cluster name
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/rosa/main.tf
Due: none

cleanup step, remove SM
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/rosa/main.tf
Due: none

replicas = 3
  tests/e2e-kubernetes/rosa/main.tf
Due: none

refactor
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Install ROSA CLI
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Remove exit 1
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Install kubectl
  .github/workflows/e2e-rosa-tests.yaml
Due: none

reorder
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Add SM
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Fix OC login
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Update support policy for backporting bugfixes
  README.md
Due: none

Install OpenShift CLI
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Install CSI Driver
  .github/workflows/e2e-rosa-tests.yaml
Due: none

recovery_window_in_days = 0
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Update to latest version
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Add more variables
  tests/e2e-kubernetes/rosa/main.tf
  tests/e2e-kubernetes/rosa/variables.tf
Due: none

Add Worker S3 permissions
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Fix version and policy name
  tests/e2e-kubernetes/rosa/main.tf
  tests/e2e-kubernetes/rosa/variables.tf
Due: none

Fix role name
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Do not uninstall driver
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Add Build
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Add ECR role
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Fix ordering: needs: [build]
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Add tests
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Create Driver IRSA Role
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/rosa/main.tf
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
