Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

rename policy
  tests/e2e-kubernetes/rosa/main.tf
Due: none

Remove ROSA CLI
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Do not uninstall driver during install
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

dummy
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

Bump go.mod to the latest Go version
  Dockerfile
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Add Kubernetes v1.35.0 to CI
  .github/matrix.yaml
Due: none

Ensure `helm-publish` workflow is only called from main
  .github/matrix.yaml
  .github/workflows/helm-publish.yaml
Due: none

Remove exclusion of Bottlerocket on ARM tests
  .github/matrix.yaml
Due: none

Change namespace to openshift-cluster-csi-drivers
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Fix trust policy
  tests/e2e-kubernetes/rosa/main.tf
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Delete cluster
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Skip delete
  .github/workflows/e2e-rosa-tests.yaml
Due: none

do not uninstall
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-upgrade-test.yaml
Due: none

Revert "do not uninstall"
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-upgrade-test.yaml
Due: none

do not uninstall
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Revert to kube-system, graceful uninstall
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/rosa/main.tf
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/scripts/run.sh
Due: none

cleanup
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Skip headroom tests
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testdriver.go
Due: golangci-lint, go-fmt-imports-fumpt

Skip EKS Pod Identity test
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Cleanup helm release
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

Add Ubuntu 24.04 to list of supported operating systems
  README.md
Due: none

Simplify isOpenShift condition
  .github/workflows/delete-rosa-cluster.yaml
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-test-trusted.yaml
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix checkstyle
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Add Kubernetes v1.35.0 to CI (#685)
  .github/matrix.yaml
Due: none

Add cluster deletion if it's too old
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/rosa/main.tf
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

Update support policy for backporting bugfixes (#682)
  README.md
Due: none

Fix comment
  .github/workflows/e2e-rosa-tests.yaml
Due: none

MAX_AGE_DAYS: 0
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix jq issue
  .github/workflows/e2e-rosa-tests.yaml
  .gitignore
Due: none

MAX_AGE_DAYS: 3
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Ensure `helm-publish` workflow is only called from main (#686)
  .github/matrix.yaml
  .github/workflows/helm-publish.yaml
Due: none

Add Ubuntu 24.04 to list of supported operating systems (#688)
  README.md
Due: none

Bump go.mod to the latest Go version (#684)
  Dockerfile
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Bump Mountpoint to v1.22.0
  CHANGELOG.md
  Dockerfile
Due: none

Revert disable trusted e2e tests
  .github/workflows/e2e-test-trusted.yaml
Due: none

Graceful Pod Eviction
  README.md
  cmd/aws-s3-csi-mounter/main.go
  pkg/podmounter/mppod/creator.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
Due: golangci-lint, go-fmt-imports-fumpt

Simplify the test, fix documentation
  README.md
  cmd/aws-s3-csi-mounter/main.go
  docs/TROUBLESHOOTING.md
  pkg/podmounter/mppod/creator.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

setupSignalHandler after receiving mount options
  cmd/aws-s3-csi-mounter/main.go
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt

Disable Upgrade Tests in e2e-test workflows
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
  .github/workflows/e2e-upgrade-test.yaml
Due: none

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
