Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Add cluster-autoscaler.kubernetes.io/daemonset-pod annotation to MP pod
  CHANGELOG.md
  docs/TROUBLESHOOTING.md
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Extend podLabels configuration for Mountpoint pods
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
  cmd/aws-s3-csi-controller/main.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  tests/controller/suite_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Update CI driver uninstall step to be skipped if install was skipped
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Add Kubernetes distribution to S3 request user agent
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/user_agent.go
  pkg/driver/node/mounter/user_agent_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add check for stack existence before termination check removal in CI scripts
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Update quoted bucket name
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Clean up old test buckets (#701)
  .github/workflows/cleanup-old-buckets.yaml
  tests/e2e-kubernetes/scripts/run.sh
Due: none

fix: prevent premature pod ungating when PVCs are unbound
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

refactor: improve clarity of unbound PVC check in reconciler
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Drop support for Kubernetes 1.29
  .github/matrix.yaml
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
Due: helm-lint

Add parameter to bucket cleanup CI job
  .github/workflows/cleanup-old-buckets.yaml
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Replace bucket cleanup script with new Python script with configurable age threshold
  .github/workflows/cleanup-old-buckets.yaml
  tests/e2e-kubernetes/scripts/bucket-cleanup.py
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Reduce duration for upgrade tests
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Replace bucket cleanup script with new Python script with configurable age threshold (#726)
  .github/workflows/cleanup-old-buckets.yaml
  tests/e2e-kubernetes/scripts/bucket-cleanup.py
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Apply contents read permission to matrix generation CI jobs (#707)
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Add podLabels configuration to Helm chart values
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Add validation and tests for podLabels
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
  cmd/aws-s3-csi-controller/main.go
  cmd/aws-s3-csi-controller/main_test.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add fallback logic for SA tokens via CSI secrets field
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Comment Updates
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Create util/labels.go
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/main.go
  pkg/util/labels.go
  pkg/util/labels_test.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add cluster-autoscaler.kubernetes.io/daemonset-pod annotation to MP pod (#715)
  CHANGELOG.md
  docs/TROUBLESHOOTING.md
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Driver Level Identity upgrade test reduction
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

make fmt
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt

IAM roles expiration
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Remove exclusion of Bottlerocket on ARM tests (#687)
  .github/matrix.yaml
Due: none

Credential timeout
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Credential Timeout
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

SA token duration
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Update CI driver uninstall step to be skipped if install was skipped (#716)
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Update CI untrusted environment name to include AWS region
  .github/workflows/e2e-test-untrusted.yaml
Due: none

Updated Comments
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Adressing Comments
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

using PostRenderer to patch manifest before Helm install/upgrade
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Removing unused import
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Headroom: Prevent premature workload pod ungating when PVC is unbound (#708)
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Update go to 1.26.0 and run `go fix`
  Dockerfile
  Dockerfile.local
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
  go.mod
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/node/mounter/user_agent_test.go
  pkg/driver/node/taint.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  pkg/util/file_test.go
  tests/controller/controller_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/performance.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Removing unused variable
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix broken E2E ROSA workflow
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Fix broken E2E ROSA workflow (#734)
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
