Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Add ROSA clusters to CI (#509)
  .github/workflows/delete-rosa-cluster.yaml
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-test-rosa-trusted.yaml
  .github/workflows/e2e-test-rosa-untrusted.yaml
  .gitignore
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/rosa/main.tf
  tests/e2e-kubernetes/rosa/variables.tf
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testdriver.go
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Mountpoint to v1.22.0 (#692)
  CHANGELOG.md
  Dockerfile
Due: none

Disable Upgrade Tests in e2e-test workflows (#694)
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
  .github/workflows/e2e-upgrade-test.yaml
Due: none

Add ROSA to E2E workflow job name
  .github/workflows/e2e-test-rosa-trusted.yaml
  .github/workflows/e2e-test-rosa-untrusted.yaml
Due: none

Add verification of images in Helm publish workflow
  .github/workflows/helm-publish.yaml
  scripts/verify-helm-images.sh
Due: none

Update sidecar versions in Helm chart
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Update sidecar versions in Helm chart (#695)
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Add verification of images in Helm publish workflow (#678)
  .github/workflows/helm-publish.yaml
  scripts/verify-helm-images.sh
Due: none

Add DDB-based CI queueing system
  .github/actions/ci-queue/action.yaml
  .github/actions/ci-queue/ci-queue.py
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Release v2.4.0
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Update changelog
  CHANGELOG.md
Due: none

Release v2.4.0 (#700)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Clean up old test buckets
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Consolidate EKS and ROSA e2e workflows
  .github/workflows/e2e-test-rosa-trusted.yaml
  .github/workflows/e2e-test-rosa-untrusted.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
Due: none

Consolidate EKS and ROSA e2e workflows (#698)
  .github/workflows/e2e-test-rosa-trusted.yaml
  .github/workflows/e2e-test-rosa-untrusted.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
Due: none

Update CI untrusted environment name to include AWS region
  .github/workflows/e2e-test-untrusted.yaml
Due: none

Remove duplicate E2E tests run on trusted for pull requests on main repo
  .github/workflows/e2e-test-trusted.yaml
Due: none

Fix checkout in helm-publish workflow
  .github/workflows/helm-publish.yaml
Due: none

Migrate CSI sidecar images to csi-components registry
  CHANGELOG.md
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Fix checkout in helm-publish workflow (#704)
  .github/workflows/helm-publish.yaml
Due: none

Re-enable publishing step in helm-publish workflow
  .github/workflows/helm-publish.yaml
Due: none

Apply contents:read permission to matrix generation CI jobs
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Migrate CSI sidecar images to csi-components registry (#705)
  CHANGELOG.md
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Re-enable publishing step in helm-publish workflow (#706)
  .github/workflows/helm-publish.yaml
Due: none

Add new `isEKSAddon` value to configuration
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  scripts/verify-helm-images.sh
Due: helm-lint

Update workflow files
  .github/matrix.yaml
  .github/workflows/build_matrix.yaml
  .github/workflows/controller-tests.yaml
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/helm-publish.yaml
  .github/workflows/notify-slack.yaml
  .github/workflows/release.yaml
  .github/workflows/unit-tests.yaml
Due: none

Use periodic workflow to avoid issues with concurrency
  .github/workflows/cleanup-old-buckets.yaml
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Simplify the test, fix documentation
  README.md
  cmd/aws-s3-csi-mounter/main.go
  docs/TROUBLESHOOTING.md
  pkg/podmounter/mppod/creator.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

setupSignalHandler after receiving mount options
  cmd/aws-s3-csi-mounter/main.go
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt

Graceful Pod Eviction
  README.md
  cmd/aws-s3-csi-mounter/main.go
  pkg/podmounter/mppod/creator.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
Due: golangci-lint, go-fmt-imports-fumpt

Update index.yaml
  index.yaml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add new `isEKSAddon` value to configuration (#709)
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  scripts/verify-helm-images.sh
Due: helm-lint

Update tests
  pkg/podmounter/mppod/creator_test.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Graceful Mountpoint Pod Eviction (#693)
  CHANGELOG.md
  cmd/aws-s3-csi-mounter/main.go
  docs/TROUBLESHOOTING.md
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Add Rollback tests to CI
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Update go to 1.26.0 and run `go fix`
  Dockerfile
  Dockerfile.local
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
  go.mod
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/node/mounter/user_agent_test.go
  pkg/driver/node/taint.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  pkg/util/file_test.go
  tests/controller/controller_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/performance.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Update go to 1.26.0 and run `go fix` (#712)
  Dockerfile
  Dockerfile.local
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
  go.mod
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/node/mounter/user_agent_test.go
  pkg/driver/node/taint.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  pkg/util/file_test.go
  tests/controller/controller_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/performance.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Add retries to tests when waiting on assuming new role via EKS Pod Identity
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Add podLabels configuration to Helm chart values
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
