Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

Remove branch filter on unit and controller tests CI workflow trigger
  .github/workflows/controller-tests.yaml
  .github/workflows/unit-tests.yaml
Due: none

Remove branch filter on unit test CI workflow trigger (#735)
  .github/workflows/controller-tests.yaml
  .github/workflows/unit-tests.yaml
Due: none

Fix broken E2E ROSA workflow (#734)
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Apply CI changes from main (#736)
  .github/workflows/controller-tests.yaml
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/unit-tests.yaml
Due: none

Add name to controller post_test job to use for CI requirement checks
  .github/workflows/controller-tests.yaml
Due: none

Update nodedriverregistrar and livenessprobe sidecar versions
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

chore: bump Mountpoint to v1.22.1
  Dockerfile
Due: none

Update go to 1.26.0 and run `go fix` for release 2.4 branch (#731)
  Dockerfile
  Dockerfile.local
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
  go.mod
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/node/mounter/user_agent_test.go
  pkg/driver/node/taint.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  pkg/util/file_test.go
  tests/controller/controller_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/performance.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

chore: release v2.4.1
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Update nodedriverregistrar and livenessprobe sidecar versions for release 2.4 branch (#739)
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Bump Mountpoint to v1.22.1 for release 2.4 branch (#733)
  Dockerfile
Due: none

Release 2.4.1 (#740)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Support injecting NO_PROXY, HTTPS_PROXY to Mountpoint container
  docs/CONFIGURATION.md
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/credentialprovider/provider_test.go
  pkg/driver/node/envprovider/provider.go
  pkg/driver/node/node.go
  pkg/driver/node/volumecontext/volume_context.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Add AWS credentials to Helm verification workflow for authentication with ECR
  .github/workflows/helm-publish.yaml
  scripts/verify-helm-images.sh
Due: none

Add AWS credentials to Helm verification workflow for authentication with ECR (#741)
  .github/workflows/helm-publish.yaml
  scripts/verify-helm-images.sh
Due: none

Fix missing Helm publish steps
  .github/workflows/helm-publish.yaml
Due: none

Fix missing steps in Helm publish workflow (#742)
  .github/workflows/helm-publish.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Reduce duration for upgrade tests (#727)
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Add rollback tests to CI
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Updated comments
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Update based on PR feedback
  .github/workflows/controller-tests.yaml
Due: none

Add Kubernetes distribution to S3 request user agent
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/user_agent.go
  pkg/driver/node/mounter/user_agent_test.go
Due: golangci-lint, go-fmt-imports-fumpt

docs: add distribution variant comments
  pkg/cluster/cluster.go
Due: golangci-lint, go-fmt-imports-fumpt

Resolve conflict
  pkg/cluster/cluster.go
Due: golangci-lint, go-fmt-imports-fumpt

Comment update
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Add Rollback tests to CI (#711)
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Address CR feedback
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/node/mounter/user_agent.go
  pkg/driver/node/mounter/user_agent_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Forward CacheEmptyDirSizeLimit to Mountpoint
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/mountpoint/args.go
Due: golangci-lint, go-fmt-imports-fumpt

simplify to 3 distributions with ENV variable detection
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  pkg/cluster/cluster.go
  pkg/driver/node/mounter/user_agent_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

remove unused strings import
  pkg/cluster/cluster.go
Due: golangci-lint, go-fmt-imports-fumpt

chore: forward-port release v2.4.1 to main
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

chore: bump Go to 1.26.1
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Update nodedriverregistrar and livenessprobe sidecar versions (#738)
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Update CHANGELOG.md and CACHING.md
  CHANGELOG.md
  docs/CACHING.md
Due: mkdocs-build

Bump Go to 1.26.1 (#746)
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none
