Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

Add support for Kubernetes 1.37
  .github/matrix.yaml
  CHANGELOG.md
  README.md
  dev/mp-dev-cluster.yaml
Due: none

Expose controller replica count in Helm configuration (#902)
  .github/workflows/unit-tests.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  scripts/helm-unit-tests.sh
Due: helm-lint

Add delete-e2e-roles.sh
  .github/workflows/delete-e2e-roles.yaml
  scripts/delete-e2e-roles.sh
Due: none

Shrink the mounter binary by relocating the UID range
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/driver/node/mounter/uid_allocator.go
  pkg/mountpoint/mountoptions/mount_options.go
  tests/e2e-kubernetes/testsuites/process_isolation_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Reuse a re-mounted entry's UID instead of reallocating
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add delete-e2e-roles.sh (#982)
  .github/workflows/delete-e2e-roles.yaml
  scripts/delete-e2e-roles.sh
Due: none

Enable taint removal e2e test in daemonset mode
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt

Split mounter helpers and assert taint removal in taint e2e
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt

Delete already-empty S3PAs in stale cleaner (#976)
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_internal_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Skip failing EKS addon tests
  tests/e2e-kubernetes/scripts/eks-addon/Dockerfile
Due: none

Enable taint removal e2e test in daemonset mode (#973)
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt

Add eviction order e2e test for daemonset mode
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt

refactor(mounter): add volumeCtx to Mount args
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/fake_mounter.go
  pkg/driver/node/mounter/mocks/mock_mount.go
  pkg/driver/node/mounter/mounter.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt

refactor(cache): move cache dir lifecycle to mounter pod
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  cmd/aws-s3-csi-daemonset-mounter/handler.go
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/main_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/mountpoint/mountoptions/mount_options.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix: address github comments
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/volumecontext/volume_context.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix: address the variable plugin directories of ephemeral PVs
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

feat(cache): delete cache directories with CAP_DAC_OVERRIDE
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/main_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  tests/e2e-kubernetes/helmchart/mounter_daemonset_test.go
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/testsuites/cache_daemonset.go
  tests/e2e-kubernetes/testsuites/process_isolation_daemonset.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

feat: add local cache support for daemonset architecture
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  pkg/driver/driver.go
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/driver/node/volumecontext/volume_context.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

test(e2e): integration test suite for cache support
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/cache_daemonset.go
  tests/e2e-kubernetes/testsuites/helm_utils.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(cache limits): inject max-cache-size depending on cacheLimitStrategy
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-daemonset-mounter/cache_limits.go
  cmd/aws-s3-csi-daemonset-mounter/cache_limits_test.go
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

test(helm): unit tests for mounter-daemonset.yaml
  tests/e2e-kubernetes/helmchart/mounter_daemonset_test.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(cache): process isolation integration for cache directories
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/main_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add `release_exists` to helm.sh, attempting to check if we need to uninstall the driver.
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

Drop a mount's records when it fails before serving
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Create a mount's credentials already owned by it
  pkg/driver/node/credentialprovider/awsprofile/aws_profile.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/util/file.go
  pkg/util/file_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Write credentials with the mode their owner needs
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/credentialprovider/provider_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Skip failing EKS addon tests (#983)
  tests/e2e-kubernetes/scripts/eks-addon/Dockerfile
Due: none

fix: remove duplicate mounterDaemonSetName after rebase
  tests/e2e-kubernetes/testsuites/helm_utils.go
Due: golangci-lint, go-fmt-imports-fumpt

v2.9.0 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Remove the credential ownership walk
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/path_ownership.go
  pkg/driver/node/mounter/path_ownership_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Cover the UID lifecycle in tests and docs
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/path_ownership.go
Due: golangci-lint, go-fmt-imports-fumpt

Default mounter logLevel when daemonsetMounters is overridden
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Split mountOrShareSource into its phases
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Discard a credential directory left by an earlier mount
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/path_ownership.go
Due: golangci-lint, go-fmt-imports-fumpt

Add `release_exists` to helm.sh (#977)
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

Add e2e test that a NoExecute taint evicts workloads but not the driver pods (#984)
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt
