Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

Temp pin terraform to 1.14.9 to avoid 1.15.0 regression (#785)
  .github/workflows/delete-rosa-cluster.yaml
  .github/workflows/e2e-rosa-tests.yaml
Due: none

ci: queue concurrent e2e runs not cancel
  .github/workflows/delete-cluster.yaml
  .github/workflows/delete-rosa-cluster.yaml
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-tests.yaml
Due: none

ci: group dependabot PRs by package-ecosystem
  .github/dependabot.yml
Due: none

ci: split dependabot gomod groups by update type
  .github/dependabot.yml
Due: none

Migrate e2evolume calls to e2epod for K8s v1.33 compatibility
  tests/e2e-kubernetes/testsuites/accessmode.go
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/mountoptions.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/performance.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Queue concurrency group runs not cancel with `queue:max` (#786)
  .github/workflows/delete-cluster.yaml
  .github/workflows/delete-rosa-cluster.yaml
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-tests.yaml
Due: none

chore: run go fix, and add concurrency queue max
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-tests.yaml
  pkg/driver/node/node_test.go
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/performance.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Group dependabot PRs by package-ecosystem (#773)
  .github/dependabot.yml
Due: none

feat: Update container base image from AL2 to AL2023
  Dockerfile
  Dockerfile.local
Due: none

refactor: Remove unnecessary comment about gnupg2-minimal
  Dockerfile
Due: none

fix: Swap gnupg2-minimal for gnupg2-full for GPG signature verification
  Dockerfile
Due: none

fix(ci): use verify-helm-images.sh without headroom pod image check
  .github/workflows/helm-publish.yaml
  scripts/verify-helm-images.sh
Due: none

fix: run go mod tidy
  go.mod
Due: none

Update container base image from AL2 to AL2023 (#753)
  Dockerfile
  Dockerfile.local
Due: none

Implement aws-s3-csi-daemonset-mounter
  Dockerfile
  Makefile
  cmd/aws-s3-csi-daemonset-mounter/handler.go
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_runner.go
  pkg/mountpoint/mountoptions/mount_options.go
  pkg/mountpoint/mountoptions/mount_options_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Address review feedback
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/process_runner.go
  cmd/aws-s3-csi-daemonset-mounter/process_runner_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Use armon/circbuf
  Dockerfile.local
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_runner.go
  cmd/aws-s3-csi-daemonset-mounter/process_runner_test.go
  go.mod
  go.sum
Due: golangci-lint, go-fmt-imports-fumpt

Bump Mountpoint to v1.22.3
  CHANGELOG.md
  Dockerfile
Due: none

Update nodedriverregistrar and livenessprobe sidecar versions
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Use gopsutil
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  go.mod
  go.sum
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: golangci-lint, go-fmt-imports-fumpt

Bump Mountpoint to v1.22.3 (#795)
  CHANGELOG.md
  Dockerfile
Due: none

Update nodedriverregistrar and livenessprobe sidecar versions (#796)
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Validate mountId
  cmd/aws-s3-csi-daemonset-mounter/handler.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/mountpoint/mountoptions/mount_options.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix comment
  cmd/aws-s3-csi-daemonset-mounter/main.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Go to 1.26.3
  Dockerfile
  Dockerfile.local
  go.mod
  pkg/driver/node/node_test.go
  tests/e2e-kubernetes/go.mod
Due: golangci-lint, go-fmt-imports-fumpt

Add daemonset mounter binary (#790)
  Dockerfile
  Dockerfile.local
  Makefile
  cmd/aws-s3-csi-daemonset-mounter/handler.go
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_runner.go
  go.mod
  go.sum
  pkg/mountpoint/mountoptions/mount_options.go
  pkg/mountpoint/mountoptions/mount_options_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: golangci-lint, go-fmt-imports-fumpt

Bump Go to 1.26.3 (#794)
  Dockerfile
  Dockerfile.local
  go.mod
  pkg/driver/node/node_test.go
  tests/e2e-kubernetes/go.mod
Due: golangci-lint, go-fmt-imports-fumpt

reconciler: recover from duplicate S3PodAttachments by deleting empty ones
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/reconciler_recover_test.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
Due: golangci-lint, go-fmt-imports-fumpt

Add retries for token creation in tests
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix total retry time, add logging, retry in broader set of errors
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

E2E: Apply AL2 security updates and reboot during node bootstrap
  tests/e2e-kubernetes/scripts/eksctl-patch-al2-security-update.json
  tests/e2e-kubernetes/scripts/eksctl.sh
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Add controller tests
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

E2E: re-run scripts-user after AL2 security update reboot
  tests/e2e-kubernetes/scripts/eksctl-patch-al2-security-update.json
Due: none

controller test: drop trailing newline to satisfy gofmt
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

E2E: drop default value for EKSCTL_PATCH_AL2_SECURITY_UPDATE_FILE
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

E2E: drop kernel versionlock so yum update applies kernel CVEs
  tests/e2e-kubernetes/scripts/eksctl-patch-al2-security-update.json
Due: none

reconciler: recover from duplicate S3PodAttachments by deleting empty ones (#799)
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/reconciler_recover_test.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

v2.6.0 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Release v2.6.0 (#800)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint
