Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Fix minor typos in documentation (#648)
  docs/ARCHITECTURE.md
  examples/kubernetes/static_provisioning/README.md
Due: mkdocs-build

Update error log for 'Failed to receive mount options' error
  cmd/aws-s3-csi-mounter/main.go
Due: golangci-lint, go-fmt-imports-fumpt

Update cmd/aws-s3-csi-mounter/main.go
  cmd/aws-s3-csi-mounter/main.go
Due: golangci-lint, go-fmt-imports-fumpt

Update error log for 'Failed to receive mount options' error (#651)
  cmd/aws-s3-csi-mounter/main.go
Due: golangci-lint, go-fmt-imports-fumpt

Clear pod attachment expectation during handling of inactive pod
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Clear pod attachment expectation during handling of inactive pod (#652)
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Minor CONFIGURATION.md fixes
  docs/CONFIGURATION.md
Due: mkdocs-build

Minor CONFIGURATION.md fixes (#654)
  docs/CONFIGURATION.md
Due: mkdocs-build

Use hard-coded kubelet path
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  deploy/kubernetes/base/node.yaml
Due: helm-lint

Fix prefix parsing
  go.mod
  go.sum
  pkg/mountpoint/args.go
  pkg/mountpoint/args_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Use hostname-based affinity for mountpoint pods on EKS Auto Mode.
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add Mountpoint-specific options section to CONFIGURATION.md
  docs/CONFIGURATION.md
Due: mkdocs-build

Made update to tests
  pkg/mountpoint/args_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix prefix parsing (#658)
  go.mod
  go.sum
  pkg/mountpoint/args.go
  pkg/mountpoint/args_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Update optional namespace configuration to use name "mountpointPod.createNamespace", add comment on how to create the namespace
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-namespace.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Fix workflow-complete jobs for GitHub workflows
  .github/workflows/controller-tests.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Update based on PR feedback
  docs/CONFIGURATION.md
Due: mkdocs-build

Support injecting Mountpoint Pod environment variables from config map
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/main.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add `mountpointPod.createNamespace` flag to Helm chart (#580)
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-namespace.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Fix workflow-complete jobs for GitHub workflows (#661)
  .github/workflows/controller-tests.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Update Helm-chart to disable hostPID on OpenShift, add isOpenShift Helm value
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Disable hostPID for Kustomize installs
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/base/node.yaml
Due: helm-lint

Fix bad templating returning strings instead of bool
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
Due: helm-lint

Update Helm-chart to disable hostPID on OpenShift, add isOpenShift Helm value, disable hostPID on Kustomize
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/base/node.yaml
Due: helm-lint

Update Helm-chart to disable hostPID on OpenShift, add isOpenShift Helm value, disable hostPID on Kustomize (#668)
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/base/node.yaml
Due: helm-lint

v2.2.2 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Release v2.2.2 (#669)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Remove K8s 1.28 from CI matrix (#645)
  .github/matrix.yaml
Due: none

Fix CI on release-2.2 (#670)
  .github/matrix.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

Update Helm-chart to disable hostPID on OpenShift, add isOpenShift Helm value, disable hostPID on Kustomize (#667)
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/base/node.yaml
Due: helm-lint

Write mini script to verify all sidecar images exist
  .github/workflows/e2e-tests.yaml
  .github/workflows/verify-sidecar-images.yaml
  tests/verify_sidecar_images.sh
Due: none

Release v2.2.2 (#673)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Bump go.mod to the latest Go version
  Dockerfile
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Bump go.mod to the latest Go version (#674)
  Dockerfile
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

v2.3.0 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

v2.3.0 release (#676)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
