Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Update Go dependencies in go.mod and tests/e2e-kubernetes (#873)
  go.mod
  go.sum
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
  tests/e2e-kubernetes/scripts/run.sh
Due: golangci-lint, go-fmt-imports-fumpt

fix(dev): force image rebuild in mp-dev.sh
  Makefile
  dev/mp-dev.sh
Due: none

Addressed comments
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/mount_map_test.go
  pkg/driver/node/node.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Unify getBoundS3PVForPodClaim and isUnboundS3PVC, fix controller test
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

updated comment
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

feat: make node DaemonSet host network and health check port configurable
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/CONFIGURATION.md
Due: helm-lint, mkdocs-build

rename initialised -> source mounted
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/mount_map_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Made some fix to e2e test
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Updated test
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Force image rebuild in mp-dev.sh (#840)
  Makefile
  dev/mp-dev.sh
Due: none

Always ensure cleanup before new mount
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Made some fixes
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map.go
Due: golangci-lint, go-fmt-imports-fumpt

some more fixes
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/mount_map_test.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

some comment fixes
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Addressed comments
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/mountpoint/mounter/mount.go
Due: golangci-lint, go-fmt-imports-fumpt

Add `Client.expressAZ` to get the S3 Express AZ used in the test
  tests/e2e-kubernetes/s3client/client.go
Due: golangci-lint, go-fmt-imports-fumpt

Add `Client.expressAZ` to get the S3 Express AZ used in the test (#879)
  tests/e2e-kubernetes/s3client/client.go
Due: golangci-lint, go-fmt-imports-fumpt

added a new e2e test
  pkg/driver/node/mounter/daemonset_mounter_test.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Increase timeout for Mountpoint pod cleanup in tests to 10 minutes
  tests/e2e-kubernetes/e2e_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Increase timeout for Mountpoint pod cleanup in tests to 10 minutes (#881)
  tests/e2e-kubernetes/e2e_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Migrate to using TEST_POD_IMAGE environment variable for overriding test image
  Makefile
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/image_override_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Backport Helm image verification workflow to v1
  .github/workflows/verify-helm-images.yaml
  scripts/verify-helm-images.sh
Due: none

Sharing mountpoint processes changes (#862)
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/mount_map_test.go
  pkg/driver/node/node.go
  pkg/mountpoint/mounter/mount.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Backport CI matrix updates to v1 (drop k8s 1.30, remove AL2/Ubuntu 22.04, add Helm image verification) (#874)
  .github/matrix.yaml
  .github/workflows/verify-helm-images.yaml
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  scripts/verify-helm-images.sh
Due: helm-lint

Use TEST_POD_IMAGE environment variable for defining the test image (#880)
  Makefile
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/image_override_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Merge main to feature daemonset branch (#854)
  .github/workflows/merge-main-to-feature-daemonset.yaml
Due: none

Bump Mountpoint to v1.23.0 (#868)
  CHANGELOG.md
  Dockerfile
Due: none

Drop support for Kubernetes 1.30 (#870)
  .github/matrix.yaml
  CHANGELOG.md
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  docs/INSTALL.md
  tests/e2e-kubernetes/README.md
  tests/e2e-kubernetes/scripts/run.sh
Due: helm-lint, mkdocs-build

Disallow --ca-bundle mount option (not yet supported in CSI Driver) (#863)
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/mountpoint/args.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Go to 1.26.5 (#867)
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Update nodedriverregistrar and livenessprobe sidecar versions (#869)
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Update TROUBLESHOOTING.md
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

Update TROUBLESHOOTING.md (#884)
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

Add Dockerfile for EKS addon e2e tests
  tests/e2e-kubernetes/scripts/eks-addon/Dockerfile
  tests/e2e-kubernetes/scripts/eks-addon/build_and_push.sh
  tests/e2e-kubernetes/scripts/eks-addon/build_test_image.sh
Due: none

test: add volume sharing case, fix 0 volumes assertion
  tests/e2e-kubernetes/testsuites/volumelimits.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: address gh comments (allow 0 as limit, enforce 1 daemonsetMounter entry)
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  pkg/driver/driver.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
