Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

fix: minor code/typo fixes
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: poll faster when comm dir stale, clean up todos
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

test(daemonset): new commDir/Mount tests
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/util/testutil/assert/assert.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: rename to s3-csi-daemonset-mounter + comment update
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  dev/mp-dev.sh
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

test(daemonset): unit test structure + initial unit tests
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

fix(helm): add one-entry validation on mounter-daemonset, add additional warning
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

fix: address github comments (pt 1)
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-namespace.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-priority.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/mountpoints3podattachments-crd.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix(daemonset): split timeout constants, and minor fixes/logs
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(daemonset): atomic commDir, background watcher
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: address gh comment - limit RBAC of Pods("").List
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix: address gh comments
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix(e2e): use chart's default image when installing previous version in upgrade tests
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

ci: add retries to go mod download
  Makefile
Due: none

Fix upgrade tests to use default charts when installing previous version (#829)
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Update index.yaml
  index.yaml
Due: none

v2.7.0 release (#826)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Add DaemonsetMounter for node-side integration with mounter binary (#797)
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  dev/mp-dev.sh
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/util/testutil/assert/assert.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/helm.sh
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

ci: Add verify helm images workflow
  .github/workflows/verify-helm-images.yaml
  scripts/verify-helm-images.sh
Due: none

fix(ci): install driver in dedicated namespace for ROSA CI
  .github/workflows/e2e-rosa-tests.yaml
  tests/e2e-kubernetes/rosa/main.tf
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: remove graceful helm uninstall logic
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

fix: pass namespace via --driver-namespace
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testdriver.go
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
  tests/e2e-kubernetes/testsuites/upgrade.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: add namespace arg to upgrade tests
  tests/e2e-kubernetes/scripts/run.sh
Due: none

docs: add guidance for openshift users
  docs/INSTALL.md
Due: mkdocs-build

ci: Add verify helm images workflow (#832)
  .github/workflows/verify-helm-images.yaml
  scripts/verify-helm-images.sh
Due: none

ci: allow fork PR checkouts
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-tests.yaml
Due: none

docs: add comments for all allow checkout flags
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Allow fork PR checkouts (#839)
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-tests.yaml
Due: none

fix: use isHelmRepo flag to gate warnings
  .github/workflows/helm-publish.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Add warnings for main branch helm chart deprecation
  README.md
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
Due: helm-lint

fix: use sed instead of yq to preserve line breaks
  .github/workflows/helm-publish.yaml
Due: none

Add warnings for main branch helm chart installation deprecation (#834)
  .github/workflows/helm-publish.yaml
  README.md
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

feat: support deploying the node DaemonSet with hostNetwork enabled
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

docs: adding host network configuration section
  docs/CONFIGURATION.md
Due: mkdocs-build

Add retries to go mod download (#828)
  Makefile
Due: none

Cherry-pick v2.7.0 release commit to main (#830)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint
