Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

Bump Mountpoint to v1.22.1 (#744)
  Dockerfile
Due: none

Forward-port release v2.4.1 to main (#745)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Add fallback logic for SA tokens via CSI secrets field (#728)
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Support injecting NO_PROXY, HTTPS_PROXY to Mountpoint container
  docs/CONFIGURATION.md
  pkg/driver/node/envprovider/provider.go
  pkg/driver/node/mounter/fake_mounter.go
  pkg/driver/node/mounter/mocks/mock_mount.go
  pkg/driver/node/mounter/mounter.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/driver/node/volumecontext/volume_context.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Update CHANGELOG.md and CACHING.md
  CHANGELOG.md
  docs/CACHING.md
Due: mkdocs-build

Disallow --max-cache-size exceeding cacheEmptyDirSizeLimit
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt

[WIP] Enable headroom tests on Openshift
  tests/e2e-kubernetes/e2e_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Split user-agent platform/install dimensions and set INSTALLATION_TYPE in Helm/Kustomize
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  deploy/kubernetes/base/node.yaml
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/user_agent.go
  pkg/driver/node/mounter/user_agent_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add warning when cacheEmptyDirSizeLimit is not set and update caching example
  examples/kubernetes/static_provisioning/caching.yaml
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/driver/node/volumecontext/volume_context.go
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt

Disallow --max-cache-size within safety margin of cacheEmptyDirSizeLimit
  docs/CACHING.md
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Add Kubernetes distribution to S3 request user agent (#717)
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  deploy/kubernetes/base/node.yaml
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/user_agent.go
  pkg/driver/node/mounter/user_agent_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Document kubelet subPath mkdir race condition in troubleshooting guide
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

Update the base OS of the CSI Driver's container image
  Dockerfile
Due: none

Delete orphaned subnets in eksctl_delete_cluster_cf_stack
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Add podLabels configuration to Helm chart values (#714)
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
  cmd/aws-s3-csi-controller/main.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  pkg/util/labels.go
  pkg/util/labels_test.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Forward `CacheEmptyDirSizeLimit` to Mountpoint when `CacheEmptyDirMedium` is default (disk-backed) (#743)
  CHANGELOG.md
  docs/CACHING.md
  examples/kubernetes/static_provisioning/caching.yaml
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/driver/node/volumecontext/volume_context.go
  pkg/mountpoint/args.go
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Update usages of GPG public keys with new rotated key
  Dockerfile
Due: none

Kublet path fix
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  deploy/kubernetes/base/node.yaml
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/pod_unmounter.go
  pkg/driver/node/mounter/pod_unmounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/util/kubelet.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Updated test
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Drop support for Kubernetes 1.29 (#721)
  .github/matrix.yaml
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
Due: helm-lint

Addressing comments
  Dockerfile
Due: none

Update usages of GPG public keys with new rotated key (#754)
  Dockerfile
Due: none

Bump Mountpoint to v1.22.2
  CHANGELOG.md
  Dockerfile
Due: none

Update nodedriverregistrar and livenessprobe sidecar versions to v2.16.0-eksbuild.3 and v2.18.0-eksbuild.3
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Bump Mountpoint to v1.22.2 (#755)
  CHANGELOG.md
  Dockerfile
Due: none

Update nodedriverregistrar and livenessprobe sidecar versions (#756)
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Release v2.5.0
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
  docs/INSTALL.md
  tests/e2e-kubernetes/README.md
Due: helm-lint, mkdocs-build

Re-order changelog
  CHANGELOG.md
Due: none

E2E: Add waiting for MP Pods to be cleaned up in AfterSuite
  tests/e2e-kubernetes/e2e_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Use hard-coded kubelet path for s3-plugin container (#656)
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  deploy/kubernetes/base/node.yaml
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/mounter/pod_unmounter.go
  pkg/driver/node/mounter/pod_unmounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/util/kubelet.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Release v2.5.0 (#757)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
  docs/INSTALL.md
  tests/e2e-kubernetes/README.md
Due: helm-lint, mkdocs-build

Add ecr:BatchGetImage permission to helm-publish workflow
  .github/workflows/helm-publish.yaml
  scripts/verify-helm-images.sh
Due: none

Add ecr:BatchGetImage permission to helm-publish workflow (#759)
  .github/workflows/helm-publish.yaml
  scripts/verify-helm-images.sh
Due: none

Update index.yaml
  index.yaml
Due: none

Add name to controller post_test job to use for CI requirement checks (#737)
  .github/workflows/controller-tests.yaml
Due: none

Add check for stack existence before termination check removal in CI scripts (#718)
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Add retries to tests when waiting on assuming new role via EKS Pod Identity (#713)
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Update E2E tests ready to accomodate additional regions in CI (#702)
  .github/workflows/e2e-test-untrusted.yaml
Due: none
