Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

feat(cache limits): split cache volume with cacheLimitStrategy
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-daemonset-mounter/cache_limits.go
  cmd/aws-s3-csi-daemonset-mounter/cache_limits_test.go
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  tests/e2e-kubernetes/testsuites/cache_limit_strategy_render_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Return error on failure to read meta file
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Addressed comments
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Return error on failure to read meta file (#967)
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Gate the startup UID release on the meta file removal
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map_persistence.go
Due: golangci-lint, go-fmt-imports-fumpt

Apply modes through an os.Root so symlinks are rejected
  pkg/driver/node/mounter/path_ownership.go
Due: golangci-lint, go-fmt-imports-fumpt

Release a re-mounted entry's UID before allocating
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Refuse mount requests with an unallocated UID
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

refactor(mounter): add volumeCtx to Mount args
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/fake_mounter.go
  pkg/driver/node/mounter/mocks/mock_mount.go
  pkg/driver/node/mounter/mounter.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt

feat: add local cache support for daemonset architecture
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  pkg/driver/driver.go
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/driver/node/volumecontext/volume_context.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

feat(cache limits): inject max-cache-size depending on cacheLimitStrategy
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-daemonset-mounter/cache_limits.go
  cmd/aws-s3-csi-daemonset-mounter/cache_limits_test.go
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Address straightforward review feedback on the driver
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/path_ownership.go
  pkg/driver/node/mounter/path_ownership_test.go
  pkg/driver/node/mounter/uid_allocator_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Address straightforward review feedback on E2E tests
  tests/e2e-kubernetes/testsuites/process_isolation_daemonset.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Add leader election tests
  cmd/aws-s3-csi-controller/csicontroller/controller.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
  cmd/aws-s3-csi-controller/main.go
  tests/controller/controller_test.go
  tests/controller/leader_election_test.go
  tests/controller/suite_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Tighten the path ownership tests and share their setup
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/uid_allocator.go
Due: golangci-lint, go-fmt-imports-fumpt

Skip unexpected credential entries instead of failing
  pkg/driver/node/mounter/path_ownership.go
  pkg/driver/node/mounter/path_ownership_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Default the UID and GID Mountpoint reports for its files
  pkg/cluster/cluster.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/mountpoint/args.go
Due: golangci-lint, go-fmt-imports-fumpt

Add extra logs
  cmd/aws-s3-csi-mounter/main.go
  pkg/driver/node/credentialprovider/sts_region.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: address github comments
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-daemonset-mounter/main.go
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/volumecontext/volume_context.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix: address the variable plugin directories of ephemeral PVs
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

test(e2e): cache integration test suite
  dev/mp-dev.sh
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/cache_daemonset.go
  tests/e2e-kubernetes/testsuites/helm_utils.go
  tests/e2e-kubernetes/testsuites/helm_utils_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add leader election tests (#959)
  cmd/aws-s3-csi-controller/csicontroller/controller.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
  cmd/aws-s3-csi-controller/main.go
  tests/controller/controller_test.go
  tests/controller/leader_election_test.go
  tests/controller/suite_test.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: delete already-empty S3PAs in stale cleaner
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_internal_test.go
Due: golangci-lint, go-fmt-imports-fumpt

feat: configure controller replica count
  .github/workflows/unit-tests.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Fix unit tests, and migrate them to their own file
  .github/workflows/unit-tests.yaml
  scripts/helm-unit-tests.sh
Due: none

Fix PR feedback
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  scripts/helm-unit-tests.sh
Due: helm-lint

Apply second batch of PR feedback
  .github/workflows/unit-tests.yaml
  scripts/helm-unit-tests.sh
Due: none

Add `release_exists` to helm.sh, attempting to check if we need to uninstall the driver.
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

Wait a pass before deleting empty S3PAs in stale cleaner
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_internal_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Isolate Mountpoint processes with per-mount UIDs (#968)
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/cluster/cluster.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/path_ownership.go
  pkg/driver/node/mounter/path_ownership_test.go
  pkg/driver/node/mounter/uid_allocator.go
  pkg/driver/node/mounter/uid_allocator_test.go
  pkg/mountpoint/args.go
  pkg/mountpoint/mountoptions/mount_options.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/process_isolation_daemonset.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

refactor(cache): move cache dir lifecycle to mounter pod
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  cmd/aws-s3-csi-daemonset-mounter/handler.go
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/main_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/mountpoint/mountoptions/mount_options.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

DRAFT test(e2e): intergration test suite for cache support
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/cache_daemonset.go
  tests/e2e-kubernetes/testsuites/helm_utils.go
  tests/e2e-kubernetes/testsuites/helm_utils_test.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/testdata/local-static-provisioner-nvme.yaml
Due: golangci-lint, go-fmt-imports-fumpt

Split mounter helpers and assert taint removal in taint e2e
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt

Enable taint removal e2e test in daemonset mode
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
Due: golangci-lint, go-fmt-imports-fumpt

Only verify eksctl tarball checksum
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Only verify eksctl tarball checksum (#978)
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Add support for Ubuntu 26.04
  .github/matrix.yaml
  CHANGELOG.md
  README.md
Due: none
