Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

Add unit test for volumeHandle re-claim after restart
  pkg/driver/node/mounter/mount_map_persistence_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Claim volumeHandle only on first mount, not every republish
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Address review: drop rejected entry, surface missing handle, test dead-source remount
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Reserve volumeHandle for dead-but-kept entries on restart
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

ci: Cancel superseded PR runs via concurrency groups
  .github/workflows/controller-tests.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/verify-helm-images.yaml
Due: none

Add leader election tests
  cmd/aws-s3-csi-controller/csicontroller/controller.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
  cmd/aws-s3-csi-controller/main.go
  tests/controller/controller_test.go
  tests/controller/leader_election_test.go
  tests/controller/suite_test.go
Due: golangci-lint, go-fmt-imports-fumpt

ci: Cancel superseded PR runs via concurrency groups (#954)
  .github/workflows/controller-tests.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
  .github/workflows/unit-tests.yaml
  .github/workflows/verify-helm-images.yaml
Due: none

fix: preserve S3PA expectations across concurrent cleanup
  cmd/aws-s3-csi-controller/csicontroller/expectations.go
  cmd/aws-s3-csi-controller/csicontroller/expectations_test.go
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/reconciler_recover_test.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_internal_test.go
Due: golangci-lint, go-fmt-imports-fumpt

test: cover expectation clearance for surviving S3PAs
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_internal_test.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: clear S3PA expectations in stale cleaner
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_internal_test.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: clear S3PA expectations in stale cleaner (#917)
  cmd/aws-s3-csi-controller/csicontroller/expectations.go
  cmd/aws-s3-csi-controller/csicontroller/expectations_test.go
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/reconciler_recover_test.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_internal_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Go to 1.27.1
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

ci: add DockSec container scan with SARIF upload
  .github/workflows/docksec.yml
Due: none

Bump Go to 1.27.1 (#964)
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Update sidecar images
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/base/node.yaml
Due: helm-lint

Update sidecar images (#965)
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/base/node.yaml
Due: helm-lint

ci: fix Dockerfile path binding, credential persistence, and fork SARIF upload
  .github/workflows/docksec.yml
Due: none

ci: remove the unused Containerfile trigger path
  .github/workflows/docksec.yml
Due: none

Return error on failure to read meta file
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Run the mounter as root with SETUID, SETGID and KILL
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
Due: helm-lint

Add per-mount UID allocator
  pkg/driver/node/mounter/uid_allocator.go
  pkg/driver/node/mounter/uid_allocator_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Persist the per-mount UID in the mount metadata
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Run each Mountpoint under its own UID-owned paths
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/path_ownership.go
  pkg/driver/node/mounter/path_ownership_test.go
  pkg/mountpoint/mountoptions/mount_options.go
Due: golangci-lint, go-fmt-imports-fumpt

Add process isolation E2E tests
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/process_isolation_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Add forgetMount helper function
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map_persistence.go
Due: golangci-lint, go-fmt-imports-fumpt

refactor(mounter): add volumeCtx to Mount args
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/fake_mounter.go
  pkg/driver/node/mounter/mocks/mock_mount.go
  pkg/driver/node/mounter/mounter.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Address feedback
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Reject duplicate volumeHandles per node
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/mount_map_test.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

feat: add local cache support for daemonset architecture
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  pkg/driver/driver.go
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/node.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Mounter inherits the node pod's tolerations (drop its own field)
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/CONFIGURATION.md
Due: helm-lint, mkdocs-build

Mounter inherits the node pod's tolerations (drop its own field) (#969)
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/CONFIGURATION.md
Due: helm-lint, mkdocs-build

Add log dumping on failure for credentials + pod sharing tests
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Bound per-volume memory with --memory-target (#952)
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/mountpoint/args.go
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

feat: add local cache support for daemonset architecture
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  pkg/driver/driver.go
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  tests/sanity/sanity_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

feat(cache limits): inject max-cache-size from deprecated PV size attributes
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Reject duplicate volume handle (#958)
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/mount_map_test.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(cache): opt in with cache:true, handle/warn deprecated settings
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/volumecontext/volume_context.go
Due: golangci-lint, go-fmt-imports-fumpt
