Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Honor stderrthreshold when logtostderr is enabled
  cmd/aws-s3-csi-driver/main.go
  cmd/aws-s3-csi-mounter/main.go
  go.mod
  go.sum
Due: golangci-lint, go-fmt-imports-fumpt

Support injecting NO_PROXY, HTTPS_PROXY to Mountpoint container
  docs/CONFIGURATION.md
  pkg/driver/node/envprovider/provider.go
  pkg/driver/node/envprovider/provider_test.go
  pkg/driver/node/mounter/fake_mounter.go
  pkg/driver/node/mounter/mocks/mock_mount.go
  pkg/driver/node/mounter/mounter.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

example
  examples/kubernetes/static_provisioning/environment_variables.yaml
Due: none

ci: allow e2e untrusted outcome to skip if approval gate is skipped
  .github/workflows/e2e-test-untrusted.yaml
Due: none

proxy e2e, document
  docs/CONFIGURATION.md
  examples/kubernetes/static_provisioning/README.md
  examples/kubernetes/static_provisioning/proxy.yaml
  pkg/driver/node/envprovider/provider.go
  pkg/driver/node/envprovider/provider_test.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/node_test.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/proxy.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

enhance e2e, example add squid pod
  examples/kubernetes/static_provisioning/proxy.yaml
  tests/e2e-kubernetes/testsuites/proxy.go
Due: golangci-lint, go-fmt-imports-fumpt

Revert ROSA environment regionalization due to operator_role_prefix 32-char limit
  .github/workflows/e2e-test-untrusted.yaml
Due: none

NO_PROXY update
  docs/CONFIGURATION.md
  examples/kubernetes/static_provisioning/proxy.yaml
  tests/e2e-kubernetes/testsuites/proxy.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Revert ROSA env regionalization (#767)
  .github/workflows/e2e-test-untrusted.yaml
Due: none

chore: bump Go to 1.26.2
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Delete orphaned subnets in eksctl_delete_cluster_cf_stack (#749)
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

fix: re-add always() in e2e untrusted outcome
  .github/workflows/e2e-test-untrusted.yaml
Due: none

Bump Go to 1.26.2 (#770)
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Add proxy support (HTTPS_PROXY, NO_PROXY) via volume attributes (#663)
  docs/CONFIGURATION.md
  examples/kubernetes/static_provisioning/README.md
  examples/kubernetes/static_provisioning/proxy.yaml
  pkg/driver/node/envprovider/provider.go
  pkg/driver/node/envprovider/provider_test.go
  pkg/driver/node/mounter/fake_mounter.go
  pkg/driver/node/mounter/mocks/mock_mount.go
  pkg/driver/node/mounter/mounter.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/proxy.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Allow e2e untrusted outcome to skip if PR is from same repo (#761)
  .github/workflows/e2e-test-untrusted.yaml
Due: none

fix checkstyle
  tests/e2e-kubernetes/e2e_test.go
Due: golangci-lint, go-fmt-imports-fumpt

E2E: Add waiting for MP Pods to be cleaned up in AfterSuite (#758)
  tests/e2e-kubernetes/e2e_test.go
Due: golangci-lint, go-fmt-imports-fumpt

ci: group dependabot PRs by package-ecosystem
  .github/dependabot.yml
Due: none

ci: add All E2E Tests Passed outcome job to trusted workflow
  .github/workflows/e2e-test-trusted.yaml
Due: none

Add All E2E Tests Passed outcome job to trusted workflow (#772)
  .github/workflows/e2e-test-trusted.yaml
Due: none

Backport drop of k8s 1.29
  .github/matrix.yaml
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
Due: helm-lint

Bring in some more patches from v2
  .github/matrix.yaml
  tests/e2e-kubernetes/scripts/eksctl.sh
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Add outcome to e2e-test-trusted
  .github/workflows/e2e-test-trusted.yaml
Due: none

fix: re-add non-PR requirement for consistency
  .github/workflows/e2e-test-trusted.yaml
Due: none

ci: skip e2e trusted outcome for fork PRs, not fail
  .github/workflows/e2e-test-trusted.yaml
Due: none

fix: honor klog -stderrthreshold when -logtostderr is enabled
  cmd/aws-s3-csi-mounter/main.go
  go.mod
  go.sum
Due: golangci-lint, go-fmt-imports-fumpt

ci: skip e2e trusted outcome for fork PRs, not fail (#777)
  .github/workflows/e2e-test-trusted.yaml
Due: none

Extract shared klog init with newline-escaping stderr writer
  cmd/aws-s3-csi-driver/main.go
  cmd/aws-s3-csi-mounter/main.go
  pkg/util/log/log.go
Due: golangci-lint, go-fmt-imports-fumpt

More getting in sync with main
  .github/workflows/controller-tests.yaml
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-test-untrusted.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/helm-publish.yaml
  .github/workflows/unit-tests.yaml
  Makefile
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  tests/e2e-kubernetes/scripts/helm.sh
Due: helm-lint

Update Go to 1.26.2
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Extract shared klog init with newline-escaping stderr writer (#776)
  cmd/aws-s3-csi-driver/main.go
  cmd/aws-s3-csi-mounter/main.go
  pkg/util/log/log.go
Due: golangci-lint, go-fmt-imports-fumpt

Adjust warning about resource requests
  docs/CONFIGURATION.md
Due: mkdocs-build

Add warning about resource requests
  docs/CONFIGURATION.md
Due: mkdocs-build

Add warning about resource requests (#779)
  docs/CONFIGURATION.md
Due: mkdocs-build

Update dependencies
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  go.mod
  go.sum
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/node/mounter/user_agent_test.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/util/file_test.go
  tests/controller/controller_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: golangci-lint, go-fmt-imports-fumpt

Switch k8s to 1.33.6
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
  tests/e2e-kubernetes/switch-k8s-version.sh
Due: none

Update go.mod
  go.mod
  go.sum
Due: none

Fix go.mod in tests/e2e-kubernetes
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

fix(ci): temp pin terraform to 1.14.9 to avoid 1.15.0 validate regression
  .github/workflows/delete-rosa-cluster.yaml
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
