Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

fix(dev): force image rebuild in mp-dev.sh
  Makefile
  dev/mp-dev.sh
Due: none

Fix upgrade tests to use default charts when installing prev version (#831)
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Add EKS 1.36.1 to CI
  .github/matrix.yaml
Due: none

Add Kubernetes v1.36.1 to CI (#838)
  .github/matrix.yaml
Due: none

Remove unsupported OSes
  .github/matrix.yaml
  CHANGELOG.md
  README.md
Due: none

chore: update build config
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Remove unsupported OSes (#841)
  .github/matrix.yaml
  CHANGELOG.md
  README.md
Due: none

Keep S3 Pod Attachments whilst pods are running and terminating
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/reconciler_test.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Keep S3 Pod Attachments whilst pods are running and terminating (#842)
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/reconciler_test.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add ExpectNoError to ExecInPod calls
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
  tests/e2e-kubernetes/testsuites/mountoptions.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Rename custom_testsuites helpers
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
  tests/e2e-kubernetes/testsuites/headroom.go
  tests/e2e-kubernetes/testsuites/mountoptions.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/proxy.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
  tests/e2e-kubernetes/testsuites/upgrade.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Add ExpectNoError to ExecInPod calls (#847)
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
  tests/e2e-kubernetes/testsuites/headroom.go
  tests/e2e-kubernetes/testsuites/mountoptions.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/proxy.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
  tests/e2e-kubernetes/testsuites/upgrade.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(daemonset): support MaxVolumesPerNode
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  pkg/driver/driver.go
  pkg/driver/node/node.go
  pkg/util/env.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Implement credential provisioning for DaemonsetMounter
  pkg/driver/driver.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/util/file.go
  pkg/util/file_test.go
  tests/e2e-kubernetes/e2e_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Revert chown-related changes
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/util/file.go
  pkg/util/file_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Update mp-dev script and cluster
  dev/mp-dev-cluster.yaml
Due: none

test(daemonset): volume limit unit and e2e tests
  pkg/driver/node/node_test.go
  pkg/util/env_test.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testdriver.go
  tests/e2e-kubernetes/testsuites/volumelimits.go
  tests/sanity/sanity_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Update mp-dev cluster (#833)
  dev/mp-dev-cluster.yaml
Due: none

Revert "Fix untrusted rosa e2e skip for daemonset feature branch (#827)"
  .github/workflows/e2e-test-untrusted.yaml
Due: none

Revert "Skip ROSA e2e tests for feature/daemonset-architecture PRs (#825)"
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
Due: none

Re-enable tests on ROSA for the `feature/daemonset-architecture` branch (#850)
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
Due: none

ci: remove terraform 1.14.9 version pin
  .github/workflows/delete-rosa-cluster.yaml
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Fix comments
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

ci: remove terraform 1.14.9 version pin (#789)
  .github/workflows/delete-rosa-cluster.yaml
  .github/workflows/e2e-rosa-tests.yaml
Due: none

Fix failing tests
  tests/e2e-kubernetes/testsuites/mountoptions.go
  tests/e2e-kubernetes/testsuites/proxy.go
Due: golangci-lint, go-fmt-imports-fumpt

Merge main to feature workflow
  .github/workflows/merge-main-to-feature-daemonset.yaml
Due: none

Add ExpectNoError to ExecInPod calls (#849)
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/evictionorder.go
  tests/e2e-kubernetes/testsuites/headroom.go
  tests/e2e-kubernetes/testsuites/mountoptions.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/proxy.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
  tests/e2e-kubernetes/testsuites/upgrade.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Merge main to feature
  .github/workflows/merge-main-to-feature-daemonset.yaml
Due: none

Add a test for mount recovery
  tests/e2e-kubernetes/testsuites/pod_sharing.go
Due: golangci-lint, go-fmt-imports-fumpt

Require response from FUSE daemon when checking mount liveness
  pkg/mountpoint/mounter/mount.go
Due: golangci-lint, go-fmt-imports-fumpt

Dont restart MP pod on options recv timeout
  cmd/aws-s3-csi-mounter/main.go
  pkg/mountpoint/mountoptions/mount_options.go
  pkg/mountpoint/mountoptions/mount_options_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Disallow --ca-bundle mount option (not yet supported in CSI Driver)
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/mountpoint/args.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Go to 1.26.5
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Bump Mountpoint to v1.23.0
  CHANGELOG.md
  Dockerfile
Due: none

Update nodedriverregistrar and livenessprobe sidecar versions
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Backport drop of k8s 1.30
  .github/matrix.yaml
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
Due: helm-lint

Scope e2e suite to this driver's specs by default
  tests/e2e-kubernetes/e2e_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Backport removal of unsupported OSes (AL2, Ubuntu 22.04)
  .github/matrix.yaml
Due: none
