Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

Upgrade golang.org/x/net to v0.55.0
  go.mod
  go.sum
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

Upgrade golang.org/x/net (#805)
  go.mod
  go.sum
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

Add concurrency group to build jobs to prevent image push races
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Revert "Release v2.6.0 (#800)".
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Revert Release v2.6.0 (#809)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

ci: pin aws-actions/configure-aws-credentials to v6
  .github/workflows/e2e-tests.yaml
Due: none

Upgrade golang.org/x/net (#810)
  go.mod
  go.sum
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

ci: Skip per-arch image build when already present in registry
  Makefile
Due: none

Update index.yaml
  index.yaml
Due: none

Revert "Revert Release v2.6.0 (#809)"
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Revert "Revert Release v2.6.0 (#809)" (#813)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Add controller leader election
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  cmd/aws-s3-csi-controller/main.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

ci: Skip per-arch image build when already present in registry (#812)
  Makefile
Due: none

Handle ErrNotExist in PodUnmounter wait loops and source removal
  pkg/driver/node/mounter/pod_unmounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Acquire per-pod lock in dangling mount cleanup path
  pkg/driver/node/mounter/pod_unmounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Add controller leader election (#814)
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  cmd/aws-s3-csi-controller/main.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

ci: add daemonset mode to CI e2e workflows
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-tests.yaml
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testdriver.go
Due: golangci-lint, go-fmt-imports-fumpt

ci: use dev/daemonset-charts/ for daemonset mode E2E tests
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-tests.yaml
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/scripts/run.sh
Due: none

ci: add pod_mode_charts_dir input to help drift testing
  .github/workflows/e2e-rosa-tests.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-tests.yaml
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

ci: pin aws-actions/configure-aws-credentials to v6 in e2e-tests.yaml (#811)
  .github/workflows/e2e-tests.yaml
Due: none

fix: bump Go from 1.26.3 to 1.26.4 for CVE-2026-42504
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Bump Go to 1.26.4 (#823)
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Update nodedriverregistrar and livenessprobe sidecar versions
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Update nodedriverregistrar and livenessprobe sidecar versions (#824)
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Add clarification of the supported release channels to the doc
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  docs/INSTALL.md
Due: helm-lint, mkdocs-build

Fix spelling
  README.md
  docs/INSTALL.md
Due: mkdocs-build

Add clarification of the supported release channels to the doc (#820)
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  docs/INSTALL.md
Due: helm-lint, mkdocs-build

ci: skip ROSA e2e tests for feature/daemonset-architecture PRs
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
Due: none

Skip ROSA e2e tests for feature/daemonset-architecture PRs (#825)
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/e2e-test-untrusted.yaml
Due: none

ci: remove terraform 1.14.9 version pin
  .github/workflows/delete-rosa-cluster.yaml
  .github/workflows/e2e-rosa-tests.yaml
Due: none

v2.7.0 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

ci: fix untrusted rosa e2e skip for daemonset feature branch
  .github/workflows/e2e-test-untrusted.yaml
Due: none

v2.7.0 release (#826)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Fix untrusted rosa e2e skip for daemonset feature branch (#827)
  .github/workflows/e2e-test-untrusted.yaml
Due: none

ci: make daemonset mode default for feature branch dev
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/helm.sh
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

feat(daemonset): add daemonset mounter mode for primary daemonset (node)
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-namespace.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-priority.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/mountpoints3podattachments-crd.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  dev/mp-dev.sh
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix: replace rollout status with wait, remove headroom config
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/helm.sh
Due: golangci-lint, go-fmt-imports-fumpt

fix: address gh comments
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix: address gh comment - rename mounterDaemonset to daemonsetMounters array
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint
