Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Fix Helm chart release name
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Correctly pass environment variables to upgrade test
  .github/workflows/e2e-tests.yaml
  .github/workflows/e2e-upgrade-test.yaml
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Properly export env variables
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Use correct ref in upgrade test GitHub workflow
  .github/workflows/e2e-upgrade-test.yaml
Due: none

Increase credential duration to 4 hours for upgrade tests
  .github/workflows/e2e-tests.yaml
Due: none

Wait for CSI Driver's DaemonSet to be ready after upgrade
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix upgrade command
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Add clarifying comments to GitHub workflow
  .github/workflows/e2e-tests.yaml
Due: none

Rename CRD version to `v2` (#549)
  charts/aws-mountpoint-s3-csi-driver/templates/mountpoints3podattachments-crd.yaml
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/main.go
  pkg/api/v2/groupversion_info.go
  pkg/api/v2/mountpoints3podattachment_indexer.go
  pkg/api/v2/mountpoints3podattachment_types.go
  pkg/api/v2/zz_generated.deepcopy.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/fake_cache.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
  tests/crd/mountpoints3podattachments-crd.yaml
  tests/e2e-kubernetes/testsuites/pod_sharing.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Bump `golang.org/x/oauth2` to `0.27.0`
  docs/HEADROOM_FOR_MPPOD.md
  go.mod
  go.sum
Due: mkdocs-build

Update Kustomization manifests for v2
  deploy/kubernetes/base/controller.yaml
  deploy/kubernetes/base/csidriver.yaml
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/mount-s3-namespace.yaml
  deploy/kubernetes/base/mount-s3-priority.yaml
  deploy/kubernetes/base/mountpoints3podattachments-crd.yaml
  deploy/kubernetes/base/node-serviceaccount.yaml
  deploy/kubernetes/base/node.yaml
  deploy/kubernetes/base/serviceaccount-csi-controller.yaml
  deploy/kubernetes/base/serviceaccount-csi-node.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: none

Bump `golang.org/x/oauth2` to `0.27.0` (#550)
  docs/HEADROOM_FOR_MPPOD.md
  go.mod
  go.sum
Due: mkdocs-build

Fixes on upgrade test GitHub workflow (#548)
  .github/workflows/e2e-tests.yaml
  .github/workflows/e2e-upgrade-test.yaml
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Update Kustomization manifests for v2 (#551)
  deploy/kubernetes/base/controller.yaml
  deploy/kubernetes/base/csidriver.yaml
  deploy/kubernetes/base/kustomization.yaml
  deploy/kubernetes/base/mount-s3-namespace.yaml
  deploy/kubernetes/base/mount-s3-priority.yaml
  deploy/kubernetes/base/mountpoints3podattachments-crd.yaml
  deploy/kubernetes/base/node-serviceaccount.yaml
  deploy/kubernetes/base/node.yaml
  deploy/kubernetes/base/serviceaccount-csi-controller.yaml
  deploy/kubernetes/base/serviceaccount-csi-node.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: none

v2.0.0 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
  docs/UPGRADING_TO_V2.md
Due: helm-lint, mkdocs-build

v2.0.0 release (#552)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
  docs/UPGRADING_TO_V2.md
Due: helm-lint, mkdocs-build

Update index.yaml
  index.yaml
Due: none

Small doc updates and fixes
  CHANGELOG.md
  cmd/aws-s3-csi-controller/main.go
  cmd/aws-s3-csi-mounter/main.go
  docs/UPGRADING_TO_V2.md
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Simplify GitHub workflow matrix
  .github/matrix.yaml
  .github/workflows/e2e-tests.yaml
Due: none

Bump `eksctl` version to latest
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Get latest `eksctl` version automatically each time
  tests/e2e-kubernetes/scripts/eksctl.sh
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Add Ubuntu 24.04 for EKS testing clusters with v1.31+
  .github/matrix.yaml
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Simplify GitHub workflow & update some docs (#553)
  .github/matrix.yaml
  .github/workflows/e2e-tests.yaml
  CHANGELOG.md
  cmd/aws-s3-csi-controller/main.go
  cmd/aws-s3-csi-mounter/main.go
  docs/UPGRADING_TO_V2.md
  tests/e2e-kubernetes/scripts/eksctl.sh
  tests/e2e-kubernetes/scripts/run.sh
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Add a validation step after installing the Helm chart in the CI
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

Pass `--kubeconfig` to `helm get manifest`
  tests/e2e-kubernetes/scripts/helm.sh
Due: none

Gate `selectableFields` for Kubernetes 1.32+ in the CRD definition
  Makefile
  charts/aws-mountpoint-s3-csi-driver/templates/mountpoints3podattachments-crd.yaml
  hack/patches/selectablefields-k8s-version.patch
Due: helm-lint

Gate `selectableFields` in CRD definition for Kubernetes <1.32 (#554)
  Makefile
  charts/aws-mountpoint-s3-csi-driver/templates/mountpoints3podattachments-crd.yaml
  hack/patches/selectablefields-k8s-version.patch
  tests/e2e-kubernetes/scripts/helm.sh
Due: helm-lint

Increase max retry attempts and backoff in end-to-end tests
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Increase max retry attempts and backoff in end-to-end tests (#555)
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Increase max retries even further and also apply to AWS CLI calls
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Increase max retries even further in CI and also apply to AWS CLI calls (#556)
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Query CRD definition to decide whether to use `spec.nodeName` filter on the cache
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  deploy/kubernetes/base/serviceaccount-csi-node.yaml
  pkg/api/v2/mountpoints3podattachment_types.go
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/driver.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add note about EKS add-on v2
  docs/INSTALL.md
  docs/UPGRADING_TO_V2.md
Due: mkdocs-build

Add note about EKS add-on v2 (#558)
  docs/INSTALL.md
  docs/UPGRADING_TO_V2.md
Due: mkdocs-build

Update v2 banner in README
  README.md
Due: none

Update v2 banner in README (#559)
  README.md
Due: none

Query CRD definition to decide whether to use `spec.nodeName` filter on the cache (#557)
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  deploy/kubernetes/base/serviceaccount-csi-node.yaml
  pkg/api/v2/mountpoints3podattachment_types.go
  pkg/cluster/cluster.go
  pkg/cluster/cluster_test.go
  pkg/driver/driver.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Clean stale Headroom Pods in `StaleAttachmentCleaner`
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add startup taint documentation in CONFIGURATION.md
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

Move clientset from S3NodeServer to Driver and improve logging
  pkg/driver/driver.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/driver/node/taint.go
  tests/e2e-kubernetes/testsuites/taint_removal.go
  tests/sanity/sanity_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
