Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Add unit test
  pkg/driver/node/mounter/pod_unmounter.go
  pkg/driver/node/mounter/pod_unmounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Mountpoint to v1.20.0
  CHANGELOG.md
  Dockerfile
Due: none

Switch to exists
  pkg/driver/node/mounter/pod_unmounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix controller test helper method name
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Mountpoint to v1.20.0 (#589)
  CHANGELOG.md
  Dockerfile
Due: none

Dummy commit to re-trigger stuck failed build with new ECR commit tag
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Move MP Pod VolumeID and PV name to Annotations instead of Labels (#585)
  pkg/driver/node/mounter/pod_unmounter.go
  pkg/driver/node/mounter/pod_unmounter_test.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

v2.1.0 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

v2.1.0 release (#590)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Bump go.mod to the latest Go version
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Bumping version in docker
  Dockerfile
Due: none

Bump go.mod to the latest Go version (#591)
  Dockerfile
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Update index.yaml
  index.yaml
Due: none

Add Kubernetes 1.34 to CI
  .github/matrix.yaml
Due: none

Docs: Add note about MP Pod updates
  docs/INSTALL.md
Due: mkdocs-build

Docs: Add note about MP Pod updates (#596)
  docs/INSTALL.md
Due: mkdocs-build

Add Helm NOTES.txt for post-install/upgrade messages
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
Due: helm-lint

Update based on PR feedback
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
Due: helm-lint

Fix label for CSI driver version check
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
Due: helm-lint

Add Helm NOTES.txt for post-install/upgrade messages (#597)
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
Due: helm-lint

Use workload pod tolerations on mountpointpod
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt

Tidy go.mod
  go.mod
Due: none

Upgrade AWS SDK dependencies
  go.mod
  go.sum
Due: none

Check go module tidy in CI
  .github/workflows/unit-tests.yaml
  Makefile
Due: none

Tidy go.mod (#599)
  go.mod
Due: none

Add check for `go mod tidy` in CI (#601)
  .github/workflows/unit-tests.yaml
  Makefile
Due: none

Upgrade AWS SDK dependencies for E2E tests
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

Upgrade AWS SDK dependencies (#600)
  go.mod
  go.sum
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

Add an Helm value to set awsAccessSecret not optional
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Add Update Sidecar Images periodic job
  .github/workflows/update-sidecar-images.yaml
Due: none

Remove sed, improve logging, error handling
  .github/workflows/update-sidecar-images.yaml
Due: none

Configure Dependabot for Go modules and GitHub Actions
  .github/dependabot.yml
Due: none

Remove gomod updates from Dependabot configuration
  .github/dependabot.yml
Due: none

Configure Dependabot for GitHub Actions (#606)
  .github/dependabot.yml
Due: none

Add Kubernetes 1.34 to CI (#594)
  .github/matrix.yaml
Due: none

Bump Mountpoint to v1.21.0
  CHANGELOG.md
  Dockerfile
Due: none

v2.2.0 release
  CHANGELOG.md
  Dockerfile
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Update eksctl_delete_cluster_cf_stack to disable termination protection
  tests/e2e-kubernetes/scripts/eksctl.sh
Due: none

Add environment variable override for EKS Pod Identity token audience
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  pkg/driver/node/credentialprovider/provider_pod.go
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add env var for EKS Pod Identity token audience and service principal (#617)
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  pkg/driver/node/credentialprovider/provider_pod.go
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
