Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

Minor fixes
  .github/workflows/e2e-tests.yaml
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Backport docker e2e tests to v1 (#904)
  .github/workflows/e2e-test-trusted.yaml
  Makefile
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/image_override_test.go
  tests/e2e-kubernetes/s3client/client.go
  tests/e2e-kubernetes/scripts/eks-addon/Dockerfile
  tests/e2e-kubernetes/scripts/eks-addon/build_and_push.sh
  tests/e2e-kubernetes/scripts/eks-addon/build_test_image.sh
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Removed startup delay
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/base/node.yaml
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/util/env.go
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Minor updates to comments and logs
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/mounter/daemonset_mounter.go
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Go to 1.26.6
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Bump Go to 1.26.6 (#909)
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Update sidecar images
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Cherrypick: Introduce flag for major version upgrade
  .github/workflows/e2e-tests.yaml
  .github/workflows/e2e-upgrade-test.yaml
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Update sidecar images (#910)
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

chore(deps): bump net, text, mod, and grpc gomod deps
  go.mod
  go.sum
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

fix(e2e): mitigate upgrade.go error by using same seed across sets
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

V1 to V3 support
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/base/node.yaml
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Introduce flag for major version upgrade
  .github/workflows/e2e-tests.yaml
  .github/workflows/e2e-upgrade-test.yaml
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
Due: golangci-lint, go-fmt-imports-fumpt

Minor comment updates
  .github/workflows/e2e-tests.yaml
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
Due: golangci-lint, go-fmt-imports-fumpt

Support V1 to V3 upgrade
  pkg/driver/driver.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/util/env.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Added a comment
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

chore(deps): bump net, text, mod, and grpc gomod deps (#912)
  go.mod
  go.sum
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

updated tests
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

fix(e2e): mitigate upgrade.go error by using same seed across sets (#913)
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

fixed seed issue
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
Due: golangci-lint, go-fmt-imports-fumpt

feat: make node DaemonSet host network and health check port configurable
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/CONFIGURATION.md
Due: helm-lint, mkdocs-build

v2.8.0 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

V1 to v3 upgrade support (#905)
  .github/workflows/e2e-tests.yaml
  .github/workflows/e2e-upgrade-test.yaml
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/mounter/daemonset_mounter.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

v2.8.0 release (#915)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

Improvements to isHealthyMountpoint check and remove the remaining framework.Gomega from tests
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/mountpoint/mounter/mount.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: clear S3PA expectations in stale cleaner
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_internal_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Addressed comments and added tests
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/mountpoint/mounter/mount.go
Due: golangci-lint, go-fmt-imports-fumpt

Improvements to isHealthyMountpoint check and remove the remaining fr… (#916)
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/mountpoint/mounter/mount.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Do not proceed with mount for dead targets
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/mountpoint/mounter/mount.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Go to 1.27.0
  Dockerfile
  Dockerfile.local
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Do not proceed with mount for dead targets (#918)
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/mountpoint/mounter/mount.go
Due: golangci-lint, go-fmt-imports-fumpt

Add periodic resource cleanup for daemonset mounter
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/mount_map_test.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/resource_cleanup_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Detect dead Mountpoint mounts by requesting STATX_TYPE in the health check
  pkg/mountpoint/mounter/mount_linux.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Mountpoint to v1.24.0
  CHANGELOG.md
  Dockerfile
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump Mountpoint to v1.24.0 (#922)
  CHANGELOG.md
  Dockerfile
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

fix(kustomize): sync sidecar image versions with Helm chart
  deploy/kubernetes/base/node.yaml
Due: none

Log unknown source health at error level, assert meta persists for surviving entries, and add mounter-crash cleanup e2e
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  tests/e2e-kubernetes/testsuites/resource_cleanup_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt
