Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Add delete-e2e-roles.sh (#982)
  .github/workflows/delete-e2e-roles.yaml
  scripts/delete-e2e-roles.sh
Due: none

Strip --read-only only for old Mountpoint pods
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

refactor(mounter): reorder to follow mount flow
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Recommend driver tolerations cover workloads' NoExecute taints
  docs/CONFIGURATION.md
Due: mkdocs-build

Make driver toleration guidance specific about cleanup
  docs/CONFIGURATION.md
Due: mkdocs-build

Strip --read-only only for old Mountpoint pods (#992)
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add docs/MEMORY.md
  README.md
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/CONFIGURATION.md
  docs/MEMORY.md
  examples/kubernetes/static_provisioning/README.md
  examples/kubernetes/static_provisioning/memory_target_per_volume.yaml
Due: helm-lint, mkdocs-build

v2.9.0 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

v2.9.0 release (#996)
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

refactor(mounter): fold abandonFreshMount into teardownEntry
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

docs(util): note mode and owner precede the content
  pkg/util/file.go
Due: golangci-lint, go-fmt-imports-fumpt

docs(mounter): document tear down in provideCredentials fail case
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

refactor(mounter): return the teardown error to the caller
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Address follow-up items from `Isolate Mountpoint processes with per-mount UIDs` (#991)
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/driver/node/credentialprovider/awsprofile/aws_profile.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_driver.go
  pkg/driver/node/credentialprovider/provider_pod.go
  pkg/driver/node/credentialprovider/provider_test.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/path_ownership.go
  pkg/driver/node/mounter/path_ownership_test.go
  pkg/driver/node/mounter/uid_allocator.go
  pkg/mountpoint/mountoptions/mount_options.go
  pkg/util/file.go
  pkg/util/file_test.go
  tests/e2e-kubernetes/testsuites/process_isolation_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

refactor(mounter): prepare Mount and discovery for cache
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/fake_mounter.go
  pkg/driver/node/mounter/mocks/mock_mount.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/mounter/mounter.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/mountpoint/mountoptions/mount_options.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(cache): manage cache directories in the mounter
  cmd/aws-s3-csi-daemonset-mounter/handler.go
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/main_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(helm): add the daemonset mounter's cache volume
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  tests/e2e-kubernetes/helmchart/mounter_daemonset_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

feat(cache): validate cache requests in s3-csi-node
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/cache_test.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/driver/node/volumecontext/volume_context.go
Due: golangci-lint, go-fmt-imports-fumpt

test(e2e): add the daemonset-cache suite
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/cache_daemonset.go
  tests/e2e-kubernetes/testsuites/helm_utils.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: address github comments, fix old comments, improve readability
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/main_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/driver/node/mounter/cache.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/mount_map_persistence_test.go
  pkg/driver/node/node_test.go
  tests/e2e-kubernetes/testsuites/cache_daemonset.go
  tests/e2e-kubernetes/testsuites/helm_utils.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(cache): size each mount's cache in the mounter
  cmd/aws-s3-csi-daemonset-mounter/cache_limits.go
  cmd/aws-s3-csi-daemonset-mounter/cache_limits_test.go
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/main_test.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
Due: golangci-lint, go-fmt-imports-fumpt

test(e2e): cover cache sizing and the none strategy
  tests/e2e-kubernetes/testsuites/cache_daemonset.go
  tests/e2e-kubernetes/testsuites/helm_utils.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(helm): require cache.limitStrategy and pass it on
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-daemonset-mounter/main.go
  tests/e2e-kubernetes/helmchart/mounter_daemonset_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix: regex fix and test improvements
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  cmd/aws-s3-csi-daemonset-mounter/cache_limits_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  tests/e2e-kubernetes/helmchart/mounter_daemonset_test.go
  tests/e2e-kubernetes/testsuites/cache_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

test(e2e): cover process isolation of the cache
  tests/e2e-kubernetes/testsuites/cache_daemonset.go
  tests/e2e-kubernetes/testsuites/helm_utils.go
  tests/e2e-kubernetes/testsuites/process_isolation_daemonset.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(cache): process isolation for cache directories
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/main_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  tests/e2e-kubernetes/helmchart/mounter_daemonset_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
