Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Latest stable version
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-yaml
        args: [--allow-multiple-documents, --unsafe]
        # Exclude Helm charts templates
        exclude: ^charts/.*/templates/.*\.yaml$
      - id: end-of-file-fixer

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1  # Latest stable version as of January 2025
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--config, .markdownlint.yaml, --fix]
        types: [markdown]

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1  # Latest stable version
    hooks:
      - id: lychee
        args: [--config, .lychee.toml]

  - repo: local
    hooks:
      # golangci-lint with Linux build environment to match CI
      # Uses .golangci.yaml configuration automatically
      # GOOS=linux ensures we analyze the same files as CI (including Linux-specific files)
      # like pkg/system/pts_test.go (which has //go:build linux constraint)
      #
      # To install golangci-lint locally (required for this hook):
      # curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.1.6
      # Or on macOS: brew install golangci-lint
      # Or with Go: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.1.6
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
        language: system
        files: \.go$
        pass_filenames: false

      # Go formatting tools (gofmt, goimports, gofumpt)
      # These run before linting to ensure code is properly formatted
      #
      # To install formatting tools:
      # go install golang.org/x/tools/cmd/goimports@latest
      # go install mvdan.cc/gofumpt@latest
      # gofmt comes with Go by default
      - id: go-fmt-imports-fumpt
        name: go formatting (gofmt, goimports, gofumpt)
        entry: |
          bash -c '
          echo "🔧 Running Go formatters...";
          if [ -n "$(gofmt -l .)" ]; then
            echo "❌ gofmt issues found:";
            gofmt -l .;
            echo "Run: gofmt -w .";
            exit 1;
          fi;
          if [ -n "$(goimports -l .)" ]; then
            echo "❌ goimports issues found:";
            goimports -l .;
            echo "Run: goimports -w .";
            exit 1;
          fi;
          if [ -n "$(gofumpt -l .)" ]; then
            echo "❌ gofumpt issues found:";
            gofumpt -l .;
            echo "Run: gofumpt -w .";
            exit 1;
          fi;
          echo "✅ All Go formatting checks passed!";
          '
        language: system
        files: \.go$
        pass_filenames: false

      - id: helm-lint
        name: helm lint
        entry: helm lint charts/scality-mountpoint-s3-csi-driver
        language: system
        files: ^charts/
        pass_filenames: false
      - id: mkdocs-build
        name: mkdocs build
        entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

test: verify node volume count and delete TODOs
  tests/e2e-kubernetes/testsuites/volumelimits.go
Due: golangci-lint, go-fmt-imports-fumpt

feat(daemonset): support MaxVolumesPerNode
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  pkg/driver/driver.go
  pkg/driver/node/node.go
  pkg/util/env.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

test(daemonset): volume limit unit and e2e tests
  pkg/driver/node/node_test.go
  pkg/util/env_test.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testdriver.go
  tests/e2e-kubernetes/testsuites/volumelimits.go
  tests/sanity/sanity_test.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: reject unset env instead of falling back
  pkg/driver/driver.go
  pkg/util/env.go
  pkg/util/env_test.go
Due: golangci-lint, go-fmt-imports-fumpt

docs: adjust guidance on resources.requests
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Add Dockerfile for EKS addon e2e tests (#887)
  tests/e2e-kubernetes/scripts/eks-addon/Dockerfile
  tests/e2e-kubernetes/scripts/eks-addon/build_and_push.sh
  tests/e2e-kubernetes/scripts/eks-addon/build_test_image.sh
Due: none

v2.8.0 release
  CHANGELOG.md
  Makefile
  README.md
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/overlays/stable/kustomization.yaml
Due: helm-lint

ci: Restrict verify helm images workflow to PRs targeting main
  .github/workflows/verify-helm-images.yaml
Due: none

ci: add warning to use merge commit, for merge to feature branch workflow
  .github/workflows/merge-main-to-feature-daemonset.yaml
Due: none

Pin Mountpoint pods to Linux nodes
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Extend provider_test to run with daemonset mounter kind
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Check storage class when pvc.VolumeName is missing
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Sync Kustomize manifests with Helm chart
  deploy/kubernetes/base/controller.yaml
  deploy/kubernetes/base/node.yaml
  deploy/kubernetes/base/serviceaccount-csi-controller.yaml
Due: none

test: address mountpoint pod os selector review
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: Sync Kustomize manifests with Helm chart (#896)
  deploy/kubernetes/base/controller.yaml
  deploy/kubernetes/base/node.yaml
  deploy/kubernetes/base/serviceaccount-csi-controller.yaml
Due: none

ci: Restrict verify helm images workflow to PRs targeting main (#891)
  .github/workflows/verify-helm-images.yaml
Due: none

Remove unused method
  pkg/driver/node/credentialprovider/provider_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Better log message
  pkg/driver/node/mounter/pod_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Return mount success, when target is mounted and mountpoint pod can not be found
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add MaxVolumesPerNode to enable scheduler volume limit enforcement (#851)
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  pkg/driver/driver.go
  pkg/driver/node/node.go
  pkg/driver/node/node_test.go
  pkg/util/env.go
  pkg/util/env_test.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testdriver.go
  tests/e2e-kubernetes/testsuites/volumelimits.go
  tests/sanity/sanity_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix(test): make some process sharing e2e tests serial
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: grant leader election event permissions
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
Due: helm-lint

fix: add OS selector to Mountpoint pods (#895)
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Document AWS credential troubleshooting
  docs/CONFIGURATION.md
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

feat: support Mountpoint pod annotations
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/main.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/util/annotations.go
  pkg/util/annotations_test.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

fix(test): make some process sharing e2e tests serial (#897)
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

fix: add kustomize leader election event permissions
  deploy/kubernetes/base/serviceaccount-csi-controller.yaml
Due: none

fix: grant leader election event permissions (#893)
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  deploy/kubernetes/base/serviceaccount-csi-controller.yaml
Due: helm-lint

Extend `provider_test` to run with daemonset mounter kind (#865)
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/credentialprovider/provider_test.go
Due: golangci-lint, go-fmt-imports-fumpt

feat: configure controller replica count
  .github/workflows/unit-tests.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Add `Client.expressAZ` to get the S3 Express AZ used in the test (#879)
  tests/e2e-kubernetes/s3client/client.go
Due: golangci-lint, go-fmt-imports-fumpt

Use TEST_POD_IMAGE environment variable for defining the test image (#880)
  Makefile
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/image_override_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add env var for EKS Pod Identity token audience and service principal (#617)
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Disable pod-mounter and remove `cluster-type`
  tests/e2e-kubernetes/scripts/eks-addon/Dockerfile
Due: none

ci: skip e2e trusted outcome for fork PRs, not fail (#777)
  .github/workflows/e2e-test-trusted.yaml
Due: none

Support V1 to V3 upgrade
  pkg/driver/driver.go
  pkg/driver/node/credentialprovider/provider.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/util/env.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

V1 to V3 support
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  deploy/kubernetes/base/node.yaml
  pkg/driver/node/mounter/daemonset_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint
