Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Fix v2 links
  docs/CONFIGURATION.md
  examples/kubernetes/static_provisioning/caching.yaml
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Remove TODO
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix v2 links (#546)
  docs/CONFIGURATION.md
  examples/kubernetes/static_provisioning/caching.yaml
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Add helper functions for labelling Workload Pods for headroom
  pkg/podmounter/mppod/headroom.go
  pkg/podmounter/mppod/headroom_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add documentation explaining the feature
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/HEADROOM_FOR_MPPOD.md
Due: helm-lint, mkdocs-build

Add end-to-end tests exercising headroom scheduling gates
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/testsuites/headroom.go
Due: golangci-lint, go-fmt-imports-fumpt

Add more controller tests and fix an edge case(1)
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix formatting in `charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-priority.yaml`
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-priority.yaml
Due: helm-lint

Add Helm manifests for Headroom Pods
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-priority.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/main.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Only handle headroom requests if feature-flag is set
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Update reference link to the tracking issue
  pkg/driver/node/mounter/pod_mounter.go
Due: golangci-lint, go-fmt-imports-fumpt

Get headroom container image from a Helm chart value
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/main.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add a scheduling gate constant and helper methods
  pkg/podmounter/mppod/headroom.go
  pkg/podmounter/mppod/headroom_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Create Headroom Pods and ungate Workload Pods if they're gated in the `Reconciler`
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Add `Creator.Headroom` for creating headroom pods
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
Due: golangci-lint, go-fmt-imports-fumpt

Emit an helpful log message if Mountpoint Pod is unschedulable
  pkg/driver/node/mounter/pod_mounter.go
  pkg/podmounter/mppod/watcher/watcher.go
  pkg/podmounter/mppod/watcher/watcher_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Update documentation
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-priority.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  docs/HEADROOM_FOR_MPPOD.md
  pkg/podmounter/mppod/headroom.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Populate Headroom Pod's resources according to PV definition
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  tests/e2e-kubernetes/testsuites/headroom.go
Due: golangci-lint, go-fmt-imports-fumpt

Simplify `reconcileWorkloadPod` method
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
Due: golangci-lint, go-fmt-imports-fumpt

Rename `Creator.Create` to `Creator.MountpointPod` and add priority class kind argument
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Log updates on Headroom Pods in `Reconciler`
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  pkg/podmounter/mppod/headroom.go
  pkg/podmounter/mppod/headroom_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Use preempting priority class if headroom for Mountpoint Pod is enabled
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Remove Headroom Pods after Workload Pods past scheduling in `Reconciler`
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Improve end-to-end tests to exercise pod sharing and also ensure Headroom Pods are deleted
  tests/e2e-kubernetes/testsuites/headroom.go
Due: golangci-lint, go-fmt-imports-fumpt

Callout potential underutilization of Mountpoint Pod sharing in limitations section
  docs/HEADROOM_FOR_MPPOD.md
Due: mkdocs-build

Fix typos
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-priority.yaml
  pkg/driver/node/mounter/pod_mounter.go
  pkg/podmounter/mppod/headroom.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add a troubleshooting section
  docs/TROUBLESHOOTING.md
Due: mkdocs-build

Drop `experimental` prefix from labels and the scheduling gate
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/HEADROOM_FOR_MPPOD.md
  docs/TROUBLESHOOTING.md
  pkg/podmounter/mppod/headroom.go
  tests/e2e-kubernetes/testsuites/headroom.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Return early if we fail to label Workload Pod for Headroom Pods
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
Due: golangci-lint, go-fmt-imports-fumpt

Add support for reserving headroom for Mountpoint Pods (#536)
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/mount-s3-priority.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/main.go
  docs/HEADROOM_FOR_MPPOD.md
  docs/TROUBLESHOOTING.md
  pkg/driver/node/mounter/pod_mounter.go
  pkg/podmounter/mppod/creator.go
  pkg/podmounter/mppod/creator_test.go
  pkg/podmounter/mppod/headroom.go
  pkg/podmounter/mppod/headroom_test.go
  pkg/podmounter/mppod/watcher/watcher.go
  pkg/podmounter/mppod/watcher/watcher_test.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/scripts/helm.sh
  tests/e2e-kubernetes/testsuites/headroom.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Bump dependencies in `tests/e2e-kubernetes`
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
  tests/e2e-kubernetes/switch-k8s-version.sh
Due: none

Bump Kubernetes packages to v1.33.3
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
  tests/e2e-kubernetes/testsuites/accessmode.go
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/mountoptions.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/performance.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/upgrade.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Sync Ginkgo version in both `go.mod` files
  go.mod
  go.sum
Due: none

Fix failing tests
  tests/e2e-kubernetes/testsuites/headroom.go
  tests/e2e-kubernetes/testsuites/mountoptions.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump dependencies in `tests/e2e-kubernetes` (#545)
  go.mod
  go.sum
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
  tests/e2e-kubernetes/switch-k8s-version.sh
  tests/e2e-kubernetes/testsuites/accessmode.go
  tests/e2e-kubernetes/testsuites/cache.go
  tests/e2e-kubernetes/testsuites/credentials.go
  tests/e2e-kubernetes/testsuites/headroom.go
  tests/e2e-kubernetes/testsuites/mountoptions.go
  tests/e2e-kubernetes/testsuites/multivolume.go
  tests/e2e-kubernetes/testsuites/performance.go
  tests/e2e-kubernetes/testsuites/pod_sharing.go
  tests/e2e-kubernetes/testsuites/upgrade.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Rename CRD version to `v2`
  charts/aws-mountpoint-s3-csi-driver/templates/mountpoints3podattachments-crd.yaml
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/main.go
  pkg/api/v2/groupversion_info.go
  pkg/api/v2/mountpoints3podattachment_indexer.go
  pkg/api/v2/mountpoints3podattachment_types.go
  pkg/api/v2/zz_generated.deepcopy.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/fake_cache.go
  pkg/driver/node/mounter/pod_mounter.go
  pkg/driver/node/mounter/pod_mounter_test.go
  tests/controller/controller_test.go
  tests/controller/suite_test.go
  tests/crd/mountpoints3podattachments-crd.yaml
  tests/e2e-kubernetes/testsuites/pod_sharing.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Skip upgrade tests on SELinux hosts if we're testing an upgrade from v1
  .github/workflows/e2e-tests.yaml
Due: none

Fix Helm chart source path
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Make sure to pass `node.podInfoOnMountCompat.enable=true` to old versions and increase credential duration
  .github/workflows/e2e-tests.yaml
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix env variables
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
