Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

Add license section to `README.md` (#523)
  README.md
Due: none

Upgrade logging documentation for v2
  docs/LOGGING.md
Due: mkdocs-build

Disable 1.33 on Ubuntu as the AMI is not available yet
  .github/matrix.yaml
Due: none

Add Kubernetes 1.33 to CI (#524)
  .github/matrix.yaml
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Address feedback
  docs/LOGGING.md
Due: mkdocs-build

Upgrade logging documentation for v2 (#525)
  charts/aws-mountpoint-s3-csi-driver/templates/mountpoints3podattachments-crd.yaml
  docs/LOGGING.md
  pkg/api/v2beta/mountpoints3podattachment_types.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

Add end-to-end test for upgrading CSI Driver
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
  tests/e2e-kubernetes/testdriver.go
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump `go.mod` to the latest Go version
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

Remove kOps testing clusters
  .github/matrix.yaml
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-tests.yaml
  tests/e2e-kubernetes/README.md
  tests/e2e-kubernetes/scripts/kops-patch-node-selinux-enforcing.yaml
  tests/e2e-kubernetes/scripts/kops-patch-node.yaml
  tests/e2e-kubernetes/scripts/kops-patch.yaml
  tests/e2e-kubernetes/scripts/kops.sh
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Bump `go.mod` to the latest Go version (#527)
  go.mod
  tests/e2e-kubernetes/go.mod
Due: none

conditional splitting of manifests
  charts/aws-mountpoint-s3-csi-driver/templates/csidriver.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Remove kOps testing clusters (#528)
  .github/matrix.yaml
  .github/workflows/delete-cluster.yaml
  .github/workflows/e2e-tests.yaml
  tests/e2e-kubernetes/README.md
  tests/e2e-kubernetes/scripts/kops-patch-node-selinux-enforcing.yaml
  tests/e2e-kubernetes/scripts/kops-patch-node.yaml
  tests/e2e-kubernetes/scripts/kops-patch.yaml
  tests/e2e-kubernetes/scripts/kops.sh
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testsuites/credentials.go
Due: golangci-lint, go-fmt-imports-fumpt

Upgrade installation and upgrading documentations
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/INSTALL.md
  docs/UPGRADING.md
Due: helm-lint, mkdocs-build

Add a new "Upgrading to v2" section
  docs/UPGRADING.md
Due: mkdocs-build

Add a note about IMDS to instance profile section
  docs/CONFIGURATION.md
  docs/UPGRADING_TO_V2.md
Due: mkdocs-build

Address PR feedback
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/INSTALL.md
Due: helm-lint, mkdocs-build

Upgrade installation and upgrading documentations (#531)
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/CONFIGURATION.md
  docs/INSTALL.md
  docs/UPGRADING_TO_V2.md
Due: helm-lint, mkdocs-build

Upgrade test duration to 150 minutes to ensure we hit credential refresh cycle
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Use `S3ReadOnlyAccess` IAM policy in driver-level IRSA
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Add a GitHub workflow for manually triggering upgrade tests
  .github/workflows/e2e-tests.yaml
  .github/workflows/e2e-upgrade-test.yaml
  tests/e2e-kubernetes/scripts/run.sh
Due: none

Fix envprovider import error
  pkg/driver/node/credentialprovider/provider_secrets.go
Due: golangci-lint, go-fmt-imports-fumpt

Add end-to-end test for upgrading the CSI Driver (#532)
  .github/workflows/e2e-tests.yaml
  .github/workflows/e2e-upgrade-test.yaml
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
  tests/e2e-kubernetes/scripts/run.sh
  tests/e2e-kubernetes/testdriver.go
  tests/e2e-kubernetes/testsuites/upgrade.go
Due: golangci-lint, go-fmt-imports-fumpt

Update README.md
  examples/kubernetes/static_provisioning/README.md
Due: none

Update README.md (#537)
  examples/kubernetes/static_provisioning/README.md
Due: none

Enable `node.{tolerateAllTaints, podInfoOnMount}` by default
  charts/aws-mountpoint-s3-csi-driver/templates/csidriver.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  tests/e2e-kubernetes/scripts/helm.sh
Due: helm-lint

Update GitHub workflows to allow running from `v2` branch
  .github/workflows/controller-tests.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/unit-tests.yaml
Due: none

Create work-in-progress `UPGRADING.md` (#498)
  Makefile
  docs/UPGRADING.md
  tests/e2e-kubernetes/testdriver.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Add documentation about Pod Sharing and EKS Pod Identity (#495)
  README.md
  docs/CONFIGURATION.md
  docs/FEATURES.md
  examples/kubernetes/static_provisioning/README.md
Due: mkdocs-build

v2.0.0-beta release (#503)
  Makefile
  charts/aws-mountpoint-s3-csi-driver/Chart.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Add `CACHING.md` to explain possible caching configurations the CSI Driver provides (#502)
  docs/CACHING.md
  pkg/podmounter/mppod/creator.go
Due: golangci-lint, go-fmt-imports-fumpt, mkdocs-build

Documentation updates for v2 (#505)
  README.md
  docs/ARCHITECTURE.md
  docs/MOUNTPOINT_POD_SHARING.md
  docs/UPGRADING.md
Due: mkdocs-build

Doc updates about caching and MP Pod resource limits (#507)
  docs/CONFIGURATION.md
  examples/kubernetes/static_provisioning/caching.yaml
Due: mkdocs-build

Remove `v2` branch from GitHub workflows
  .github/workflows/controller-tests.yaml
  .github/workflows/e2e-test-trusted.yaml
  .github/workflows/unit-tests.yaml
Due: none

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
