Repository awslabs/mountpoint-s3-csi-driver: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt-imports-fumpt, helm-lint, mkdocs-build

golangci-lint:
  name: golangci-lint
  entry: bash -c 'GOOS=linux golangci-lint run --config .golangci.yaml'
  language: system
  pass_filenames: false

go-fmt-imports-fumpt:
  name: go formatting (gofmt, goimports, gofumpt)
  ...

helm-lint:
  name: helm lint
  entry: helm lint charts/scality-mountpoint-s3-csi-driver
  language: system
  pass_filenames: false

mkdocs-build:
  name: mkdocs build
  entry: bash -c 'source .venv/bin/activate 2>/dev/null || true; mkdocs build --strict'
  language: system
  pass_filenames: false

fix: clear S3PA expectations in stale cleaner
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_internal_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Use Go module proxy to fix cel-go fetch failure
  Makefile
Due: none

Replace google/cel-go with cel-expr/cel-go to fix module fetch
  Makefile
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

Fix E2E tests
  cmd/aws-s3-csi-controller/csicontroller/reconciler.go
  tests/controller/controller_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Use Go module to fix cel-go fetch failure (#941)
  tests/e2e-kubernetes/go.mod
  tests/e2e-kubernetes/go.sum
Due: none

Version skew detection
  cmd/aws-s3-csi-daemonset-mounter/handler.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/mountpoint/mountoptions/mount_options.go
Due: golangci-lint, go-fmt-imports-fumpt

feat: make node DaemonSet host network and health check port configurable
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  docs/CONFIGURATION.md
Due: helm-lint, mkdocs-build

Detect dead Mountpoint mounts by requesting STATX_TYPE in the health check
  pkg/mountpoint/mounter/mount_linux.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix in tests
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Use node.nodeSelector for the mounter daemonset
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Propagate seLinuxOptions to the mounter daemonset pod
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
Due: helm-lint

Use node.nodeSelector for the mounter daemonset (#945)
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

Add Helm chart render test to unit CI
  .github/workflows/unit-tests.yaml
  Makefile
  tests/helm-template/helpers_test.go
  tests/helm-template/render_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Detect dead Mountpoint mounts by requesting STATX_TYPE in the health check (#921)
  pkg/mountpoint/mounter/mount_linux.go
Due: golangci-lint, go-fmt-imports-fumpt

Add Squid to eks-addon image
  tests/e2e-kubernetes/scripts/eks-addon/Dockerfile
  tests/e2e-kubernetes/testsuites/proxy.go
Due: golangci-lint, go-fmt-imports-fumpt

Inherit node affinity and tolerations for the mounter daemonset
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
Due: helm-lint

test: cover expectation clearance for surviving S3PAs
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/stale_attachment_cleaner_internal_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Added some logs to diagnose ROSA failure
  tests/e2e-kubernetes/testsuites/drain_only_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix ROSA test
  tests/e2e-kubernetes/testsuites/drain_only_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

V2 to V3 upgrade support
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/csicontroller/drain_stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/drain_stale_attachment_cleaner_test.go
  cmd/aws-s3-csi-controller/main.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/daemonset_mounter_v2legacy_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/util/env.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/drain_only_daemonset.go
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Addressed comments
  cmd/aws-s3-csi-controller/csicontroller/drain_stale_attachment_cleaner.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_v2legacy_test.go
  pkg/driver/node/mounter/mount_map.go
  tests/e2e-kubernetes/testsuites/drain_only_daemonset.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Fix to tests
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
Due: golangci-lint, go-fmt-imports-fumpt

Addressed comments
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/csicontroller/drain_stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/drain_stale_attachment_cleaner_test.go
  cmd/aws-s3-csi-controller/main.go
  tests/e2e-kubernetes/testsuites/drain_only_daemonset.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add Squid to eks-addon image (#949)
  tests/e2e-kubernetes/scripts/eks-addon/Dockerfile
  tests/e2e-kubernetes/testsuites/proxy.go
Due: golangci-lint, go-fmt-imports-fumpt

Add proxy support e2e tests
  tests/e2e-kubernetes/e2e_test.go
Due: golangci-lint, go-fmt-imports-fumpt

proxy e2e: verify tunnel via mounter daemonset logs in daemonset mode
  tests/e2e-kubernetes/testsuites/proxy.go
Due: golangci-lint, go-fmt-imports-fumpt

Bound per-volume memory with --memory-target
  charts/aws-mountpoint-s3-csi-driver/templates/_helpers.tpl
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-daemonset-mounter/main.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target.go
  cmd/aws-s3-csi-daemonset-mounter/memory_target_test.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager.go
  cmd/aws-s3-csi-daemonset-mounter/process_manager_test.go
  pkg/mountpoint/args.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Add proxy support e2e tests (#950)
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/proxy.go
Due: golangci-lint, go-fmt-imports-fumpt

V2 to V3 upgrade support (#939)
  charts/aws-mountpoint-s3-csi-driver/templates/NOTES.txt
  charts/aws-mountpoint-s3-csi-driver/templates/controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/node.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-controller.yaml
  charts/aws-mountpoint-s3-csi-driver/templates/serviceaccount-csi-node.yaml
  charts/aws-mountpoint-s3-csi-driver/values.yaml
  cmd/aws-s3-csi-controller/csicontroller/drain_stale_attachment_cleaner.go
  cmd/aws-s3-csi-controller/csicontroller/drain_stale_attachment_cleaner_test.go
  cmd/aws-s3-csi-controller/main.go
  pkg/driver/driver.go
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/daemonset_mounter_test.go
  pkg/driver/node/mounter/daemonset_mounter_v2legacy_test.go
  pkg/driver/node/mounter/mount_map.go
  pkg/util/env.go
  tests/e2e-kubernetes/e2e_test.go
  tests/e2e-kubernetes/testsuites/drain_only_daemonset.go
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/upgrade_and_rollback.go
Due: golangci-lint, go-fmt-imports-fumpt, helm-lint

Warn when a different PV reuses a volumeHandle on a node
  pkg/driver/node/node.go
Due: golangci-lint, go-fmt-imports-fumpt

Set hostNetwork: false (IMDS unreachable unless hop limit ≥ 2). automountServiceAccountToken: false (no k8s API token) on mounter pod
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
Due: helm-lint

Set hostNetwork: false automountServiceAccountToken: false (#957)
  charts/aws-mountpoint-s3-csi-driver/templates/mounter-daemonset.yaml
Due: helm-lint

Add e2e test for per-node volumeHandle uniqueness
  tests/e2e-kubernetes/testsuites/pod_sharing_daemonset.go
  tests/e2e-kubernetes/testsuites/util.go
Due: golangci-lint, go-fmt-imports-fumpt

Reject duplicate volumeHandles per node
  pkg/driver/node/mounter/daemonset_mounter.go
  pkg/driver/node/mounter/mount_map.go
  pkg/driver/node/mounter/mount_map_persistence.go
  pkg/driver/node/mounter/mount_map_test.go
Due: golangci-lint, go-fmt-imports-fumpt

Path conditions:
  golangci-lint: any of: \.go$
  go-fmt-imports-fumpt: any of: \.go$
  helm-lint: any of: ^charts/
  mkdocs-build: any of: ^(mkdocs\.yml|docs/.*)$
